@(ta: TestAssertion, display: String)

@import java.util.concurrent.atomic.AtomicInteger
@import global.Util._
@import authentication._
@import views.html._
@import views.html.testAssertion._
@import views.html.util._

@main(Messages("minder.navigation.restricted.testdesigner"), "mainNavigation",
    Array(("Test Groups", controllers.routes.Application.testGroups().path()),
    (ta.testGroup.name, controllers.routes.GroupController.getGroupDetailView(ta.testGroup.id, "assertions").path()),
    (ta.taId, controllers.routes.TestAssertionController.getAssertionDetailView(ta.id, "details").path()))) {

  @dialogs()

  <h3>Test Assertion
    <div id="taId@{
      ta.id
    }"
      @subjectIs(ta.owner) {
        onclick='showUpdateInputTextDialog(@ta.id, "taId", $(this).next(), "/doEditAssertionField")'
      }
    class="hl editable">@ta.taId</div>
    <input type="hidden" value="@ta.taId"/>
  </h3>
  <div class="indent">
    <script>
        function showDetails(){
          ajaxRouteGet(jsRoutes.controllers.TestAssertionController.renderDetails, @ta.id, $("#assertionSubItems"))
        }
        function showTestCases(){
          ajaxRouteGet(jsRoutes.controllers.TestAssertionController.renderTestCases, @ta.id, $("#assertionSubItems"))
        }
    </script>

    @ajaxDisplaySelector(display,
      "details" ->("Details", "showDetails"),
      "cases" ->("Test Cases", "showTestCases"))

    <div id="assertionSubItems">

    </div>
  </div>

}