@(testGroup: TestGroup)

<br/>
<div id='testRunList'>

</div>

<script>

    var dataTabl2 = new DataTable($('#testRunList'), @testGroup.id, levels = [
      {
        updateFunction: jsRoutes.controllers.AdvancedBatchReporting.listTestCases,
        title: 'Test Cases',
        typeInfo: 'TestCase',
        pageSize: 10,
        renderDownButtons: true,
        renderRefreshButton: false,
        columns: [{field: 'id', label: 'ID'}, {field: 'name', label: 'Name'}]
      },
      {
        updateFunction: jsRoutes.controllers.AdvancedBatchReporting.listJobs,
        title: 'Jobs',
        pageSize: 10,
        renderDownButtons: true,
        renderRefreshButton: true,
        backgroundColor: '#dfffc0',
        columns: [{field: 'id', label: 'ID'}, {field: 'name', label: 'Name'}, {field: 'date', label: 'Date'}]
      },
      {
        updateFunction: jsRoutes.controllers.AdvancedBatchReporting.listTestRuns,
        title: 'Test Runs',
        pageSize: 10,
        renderCheckBoxes: true,
        renderDownButtons: false,
        renderRefreshButton: true,
        backgroundColor: '#c9ffee',
        columns: [{field: 'id', label: 'ID'}, {field: 'date', label: 'Date'}, {field: 'runner', label: 'Runner'}, {
          field: 'number',
          label: 'Number'
        }, {
          field: 'result',
          label: ' ',
          formatFunction: function (value) {
            if (value == true) {
              return '<span class="fa fa-check" style="color:green"></span>'
            } else {
              return '<span class="fa fa-cross" style="color:red"></span>'
            }
          }
        }]
      },
    ])

    dataTabl2.updateTable()

    var levelTypMap2 = {
      0: 'TestCase',
      1: 'Job', 2: 'TestRun'
    }

    dataTabl2.$.on('itemClicked', function (evt, level, itemId) {
      var collection = reportItems[levelTypMap2[level]]
      if (collection === undefined)
        collection = {}

      collection[itemId] = "1"
      reportItems[levelTypMap2[level]] = collection

      updateSelectedItems()
    })


</script>

