logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
.DS_Store
dlcache
logs
bin
tdlsrc
tdlcls
*.iml

*.orig
assets
release
dependencies
domibus-debug/domibus.jar
domibus-debug/domibus.war
eskiKodlar.7z
domibus-debug
*.iml
*.7z
*.iml
