@import views.html.util._

@(frm: Form[_])

@import helper._
@implicitFieldConstructor = @{
  FieldConstructor(twitterBootstrapBasic.f)
}

@main(Messages("minder.navigation.restricted.testdesigner"), "mainNavigation") {
  <div class="padabit">
    @dialogs()

    <script>
        var tdlArray = []
        var candidateMap = {}
        var selectedCandidateMap = {}

        function updateNameList(target){
          if(target === undefined){
            tdlArray.splice(0,tdlArray.length)
            $("input:checkbox:checked").each(function(){
              tdlArray.push(parseInt($(this).val()))
            });
          } else {
            var val = parseInt(parseInt(target.val()))
            if(target.prop('checked')){
              tdlArray.push(val)
            } else {
              tdlArray.splice(tdlArray.indexOf(val), 1)
            }

          }
          console.log(tdlArray)
        }

        function reconstructList(){
          selectedCandidateMap = {}
          var r = jsRoutes.controllers.TestSuiteController.getNamesAndAdaptersForTdls()
          $.ajax({
            url: r.url,
            type: 'POST',
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(tdlArray),
            success: reconstructListAsync,
            error: function(data){
              showError(data.responseText)
            }
          })
        }

        function  reconstructListAsync(data){
          if(data === undefined || data === null || typeof(data[0])==='string')
            return

          candidateMap = data

          $('#selectorTableBody').empty()
          $('#selectorTableBody').append('<th>Name</th><th>Mapped Adapter</th>')

          for(key in candidateMap){
            var options = ""
            var current = candidateMap[key]
            for(key2 in current){
              wrapperVersion = current[key2]
              if(selectedCandidateMap[key] === wrapperVersion.id){
                options += '<option value="' + wrapperVersion.id + '" selected="selected">' + wrapperVersion.wrapper.name + '</option>'
              } else {
                options += '<option value="' + wrapperVersion.id + '">' + wrapperVersion.wrapper.name + '</option>'
              }
            }
            if(selectedCandidateMap[key] ===undefined){
              selectedCandidateMap[key]=current[0].id
            }

            $('#selectorTableBody').append('<tr><td>' + key + '</td><td><select onchange="updateCandidate($(this))" title="' + key + '">' + options + '</select></td></tr>');
          }
        }

        function updateCandidate(select){
          selectedCandidateMap[select.prop('title')] = parseInt(select.val())
        }

        function submitFrom(){
          $('#selectedCandidateMap').val(JSON.stringify(selectedCandidateMap))
          $('#tdlArray').val(JSON.stringify(tdlArray))
          $('#testSuiteForm').submit();
        }

        $(function(){
          //spin('spinner')
          var tmp = $('#selectedCandidateMap').val()
          if(tmp.length !== 0){
            selectedCandidateMap = JSON.parse($('#selectedCandidateMap').val())
          }

          tmp = $('#tdlArray').val()
          if(tmp.length !== 0){
            tdlArray = JSON.parse($('#tdlArray').val())
            for(idx in tdlArray){
              $('#checkBox_' + tdlArray[idx]).prop('checked', true)
            }
            var r = jsRoutes.controllers.TestSuiteController.getNamesAndAdaptersForTdls()
            $.ajax({
              url: r.url,
              type: 'POST',
              dataType: "json",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(tdlArray),
              success: reconstructListAsync,
              error: function(data){
                showError(data.responseText)
              }
            })
          }
        })
    </script>


    <h2>Create New Test Suite</h2>

    <form action="@routes.TestSuiteController.doCreateTestSuite()" method="post" id="testSuiteForm">
      @if(frm.hasGlobalErrors) {
        <p class="alert alert-danger">
        @frm.globalError.message
        </p>
      }
      <div class="container"><div class="row"><div class="col-md-6">
        <table class="topCells paddedTable noWrap formInput">
          <tr><td>Test Suite Name:</td><td><input type="text" name="name" value="@frm("name").value()" />
            @formChecker(frm("name"))
          </td>
          </tr>
          <tr><td>
            Short Description:</td><td><input type="text" name="shortDescription" value="@frm("shortDescription").value()" />
            @formChecker(frm("shortDescription"))
          </td></tr>
          <tr><td>Visibility:</td><td>
            <select id="visibility" name="visibility" >
            @for(vis <- Visibility.values()) {
              @if(vis == frm("visibility").value) {
                <option selected="selected" value="@vis">@vis</option>
              } else {
                <option value="@vis">@vis</option>
              }
            }
            </select><br /></td></tr>

        </table>
      </div><div class="col-md-6">
        <table class="topCells paddedTable noWrap formInput">
          <tr><td>
            Parameters:</td><td><textarea name="mtdlParameters" rows="4">@frm("mtdlParameters").value()</textarea></td></tr>
          <tr><td>
            Intervention Policy:</td><td><input type='radio' name="intervention" value='FAIR' @{
            "checked".when(frm("intervention").value() != "STRICT")
          }/>&nbsp;Fair&nbsp;&nbsp;&nbsp;<input type='radio' name="intervention" value='STRICT' @{
            "checked".when(frm("intervention").value() == "STRICT")
          }/>&nbsp;Strict</td></tr>
        </table>
      </div></div></div>

      <input type="hidden" name="id" id="id" value='@frm("id").value' />
      <input type="hidden" name="groupId" id="groupId" value='@frm("groupId").value' />
      <input type="hidden" id="selectedCandidateMap" name="selectedCandidateMap" id="selectedCandidateMap" value='@{
        frm("selectedCandidateMap").value
      }' />
      <input type="hidden" id="tdlArray" name="tdlArray" id="tdlArray" value='@{
        frm("tdlArray").value
      }' />
      <hr />

      <div class="container">
      @defining(TestGroup.findById(frm("groupId").value.toLong)) { group =>
        <div class="row">
          <div class="col-md-6">
            @candidateTDLList(group)
          </div>
          <div class="col-md-6">
          @nameAdapterSelector()
          </div>
        </div>
      }
      </div>
      <hr />
      <div align="center">
        <button type="button" class="btn btn-success btn-sm" onclick="submitFrom()">Create</button> &nbsp;
        <button type="reset" class="btn btn-primary btn-sm">Reset</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" onclick="history.back ( )" class="btn btn-warning btn-sm">Cancel</button>
      </div>
    </form>
  </div>
}
