@import views.html.util._

@(frm: Form[_])

@import helper._
@implicitFieldConstructor = @{
  FieldConstructor(twitterBootstrapBasic.f)
}

@main(Messages("minder.navigation.restricted.testdesigner"), "mainNavigation") {
  <div class="padabit">
    @dialogs()

    <h2>Create New Test Suite</h2>

    <form action="@routes.TestSuiteController.doCreateTestSuite()" method="post">
      @if(frm.hasGlobalErrors) {
        <p class="alert alert-danger">
        @frm.globalError.message
        </p>
      }
      <div class="container"><div class="row"><div class="col-md-6">
      <table class="topCells paddedTable noWrap formInput">
        <tr><td>Test Suite Name:</td><td><input type="text" name="name" value="@frm("name").value()" />
          @formChecker(frm("name"))
        </td>
        </tr>
        <tr><td>
          Short Description:</td><td><input type="text" name="shortDescription" value="@frm("shortDescription").value()" />
          @formChecker(frm("shortDescription"))
        </td></tr>
      </table>
</div><div class="col-md-6">
      <table  class="topCells paddedTable noWrap formInput">
        <tr><td>
          Parameters:</td><td><textarea name="mtdlParameters" rows="2">@frm("mtdlParameters").value()</textarea></td></tr>
      </table>
</div></div></div>

      <input type="hidden" name="id" id="id" value='@frm("id").value' />
      <input type="hidden" name="groupId" id="groupId" value='@frm("groupId").value' />

      <br />
      <div align="center">
        <button type="submit" class="btn btn-success btn-sm">Create</button> &nbsp;
        <button type="reset" class="btn btn-primary btn-sm">Reset</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" onclick="history.back ( )" class="btn btn-warning btn-sm">Cancel</button>
      </div>
    </form>
  </div>
}
