@(testSuite: TestSuite)


@import util._
@import authentication._
@import job._

<script>

    var selectedMTDLS = []
    var previousHighlighedRow = null






    /**
     * Without selecting anything, run all the jobs under the test suite
     */
    function runAllTests(){
      //empty the array
      selectedMTDLS = []

      //run
      runTests()
    }





    /**
     * Require the user to select at least one job, and run the selected jobs
     */
    function runSelectedTests(){

      //the user must select some tdls
      if (selectedMTDLS.length == 0){
        showError("Please select at least one Job to Run")
        return
      }

      //run
      runTests()
    }




    /**
     * Common function to run jobs. Takes the selected mtdl array, joins witha Comma
     * and sends it to the jsRoutes enqueue function.
     */
    function runTests(){
      showInputDialog("Please select visibility", ['PUBLIC', 'PROTECTED', 'PRIVATE'], '@testSuite.visibility.name()',
          function(result){
            console.log("Run all tdls with visibility " + result)
            ajaxRouteGet(jsRoutes.controllers.TestQueueController.enqueueTestSuite, [@testSuite.id, result, selectedMTDLS.join(',')],
                function(){
                  showInfoDialog('Success', 'A new suite run was added to the queue')
                },
                showError
            )
          }
      )
    }





    function updateSelectedJobList(theInput, jobId){
      if($(theInput).prop('checked') == true){
        console.log('checked    ' + jobId)

        selectedMTDLS.push(jobId)
      } else {
        console.log('unchecked  ' + jobId)

        selectedMTDLS.splice(selectedMTDLS.indexOf(jobId), 1)
      }

      console.log(selectedMTDLS)
    }




    /**
     * When a suite run is clicked from the BatchJob table, its detailed are filled to the 'batch job details'
     *
     */
    function grabSuiteRunDetails(suiteRunId, targetRow){
      spin($('#testRunListDiv')[0])
      ajaxRouteGet(jsRoutes.controllers.SuiteRunController.getSuiteRunDetailView, suiteRunId,
          function (data){
            stopSpin($('#testRunListDiv')[0])
            $('#testRunListDiv').html(data)
          }, function(data){
            stopSpin($('#testRunListDiv')[0])
            showError(data)
          })

      if(previousHighlighedRow != null){
        previousHighlighedRow.removeClass('highlight')
      }
      $(targetRow).addClass('highlight')
      previousHighlighedRow = $(targetRow)
    }






</script>
<div class="row">
  <div class="col-md-12">
    <h3>Test Suite Jobs</h3>
    <table width="100%" style="padding-bottom: 3px ;">
      <tr>
        <td align="right">
          <button class="btn btn-xs btn-success" style="margin-bottom: 5px ;" type="button" onclick='runAllTests();'><span class="fa fa-rocket">&nbsp;</span><span class="fa fa-rocket">&nbsp;</span>
            Run All Tdls</button>
          <button class="btn btn-xs btn-primary" style="margin-bottom: 5px ;" type="button" onclick='runSelectedTests()'><span class="fa fa-rocket">&nbsp;</span><span class="fa fa-check-square-o">&nbsp;</span>
            Run Selected Tdls</button></td>
      </tr>
    </table>
    <table class="table table-striped">
      <tr><th>&nbsp;</th><th>Test Assertion</th><th>Test Case</th><th>MTDL Script Version</th></tr>
      @for(job <- testSuite.jobs) {
        <tr>

          <td class="tabshrink"><input type="checkbox" id="checkBox@{
            job.id
          }" onchange='updateSelectedJobList(this, @job.id)'/>
          </td>


          <td>
            <a href="@controllers.routes.TestAssertionController.getAssertionDetailView(job.tdl.testCase.testAssertion.id, "cases")">
            @{
              job.tdl.testCase.testAssertion.taId
            }
            </a>
          </td>


          <td>
            <a href="@controllers.routes.TestCaseController.viewTestCase(job.tdl.testCase.id, "jobs")">
            @{
              job.tdl.testCase.name
            }</a>
          </td>



          <td>
            <a href="@controllers.routes.TestCaseController.viewTestCase2(job.tdl.testCase.id, job.tdl.id, "jobs")">
            @{
              job.tdl.version
            }</a>
          </td>

        </tr>
      }
    </table>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">

    <div class="row">
      <div class="col-lg-3 col-md-12">
        <h4>Batch Jobs</h4>
        @defining(new java.util.concurrent.atomic.AtomicInteger(0)) { indexCounter =>
          @defining(SuiteRun.findBySuite(testSuite)) { suiteRuns =>
            <table class="table table-striped table-hover noWrap">
              <tr><th>#</th><th title="Visibility">Vis.</th><th>Date</th></tr>
              @for(suiteRun <- suiteRuns) {

                @decideOnVisibility(suiteRun.visibility, suiteRun.runner) {
                  <tr onclick="grabSuiteRunDetails(@suiteRun.id, this)" id="tr_@suiteRun.id" style="cursor: pointer">
                    <td style="text-align:center ; vertical-align: middle ;" class="tabshrink">
                      <a role="button" onclick='grabSuiteRunDetails(@suiteRun.id, "#tr_@suiteRun.id")' style="text-decoration: none ;">
                      @suiteRun.number
                      </a>
                    </td>

                    <td>
                    @visibilityTagFragment(suiteRun.visibility, suiteRun.runner)
                    </td>

                    <td><a role="button" onclick='grabSuiteRunDetails(@suiteRun.id, "#tr_@suiteRun.id")' style="text-decoration: none ;">
                    @global.Util.formatDate(suiteRun.date)
                    </a>
                    </td>
                  </tr>
                  @if(indexCounter.getAndIncrement == 0) {
                    <script>grabSuiteRunDetails(@suiteRun.id, "#tr_@suiteRun.id")</script>
                  }
                }
              }
            </table>
          }
        }
      </div>
      <div class="col-lg-9 col-md-12" id="testRunListDiv">

      </div>
    </div>

  </div>
</div>
