@(ta: TestAssertion)
@import views.html.util._
@import java.util.concurrent.atomic.AtomicInteger
@import global.Util._;

@import authentication._

<br />

@subjectHasRole(security.Role.TEST_DESIGNER) {
  @createLinkButton("/getCreateCaseEditorView?assertionId=" + ta.id, Messages("restrictedTestPage.createTestCase"))
  <br />
  <br />
}

@if(ta.testCases.size() > 0) {
  <table class="table table-hover table-striped table-condensed">
    @createFirstRow {
      <th>Test Case Name</th>
      <th>Author</th>
    }
    @defining(new AtomicInteger(1)) { index =>
      @for(tc <- ta.testCases) {
        <tr>
          <td>@index.getAndIncrement()</td>
          <td><a href="/viewTestCase?id=@tc.id&showJobs=true">@tc.name</a></td>
          <td>@{
            tc.owner.email
          }</td>
          <td>
          @subjectIs(tc.owner) {
            <button type="button" class="glyphicon glyphicon-trash btn btn-danger  btn-sm"
            onclick='deleteWithDialog("/doDeleteCase?id=@tc.id", $("#dialog-confirm"), "Delete Test Case", "test case", "@tc.name")' title="Delete">
            </button>
          }
          </td>
        </tr>
      }
    }
  </table>
}
