@import views.html.util._
@(frm: Form[_])(implicit authentication: Authentication)

@main(Messages("minder.navigation.restricted.testdesigner"), "mainNavigation") {

  <div class="padabit">
    @dialogs()

    <h2>Create New Test Assertion</h2>
    <form action="@routes.TestAssertionController.doCreateAssertion()" method="post">

      @if(frm.hasGlobalErrors) {
        <p class="alert alert-danger">
        @frm.globalError.message
        </p>
      }
      <div class="container">
      <div class="row">
      <div class="col-md-6">
      <table class="topCells paddedTable noWrap formInput">
        <tr><td>Test Assertion Id:</td><td>
          <input type="text" name="taId" value="@frm("taId").value()" />
          @formChecker(frm("taId"))
        </td></tr>
        <tr><td>Short Description:</td><td>
          <input type="text" name="shortDescription" value="@frm("shortDescription").value()" />
          @formChecker(frm("shortDescription"))
        </td></tr>

        <tr><td>Normative Source:</td><td>
          <textarea name="normativeSource" rows="5">@frm("normativeSource").value()</textarea>
          @formChecker(frm("normativeSource"))
        </td></tr>

        <tr><td>Target:</td><td>
          <textarea name="target" rows="5"/>@frm("target").value()</textarea>
          @formChecker(frm("target"))
        </td></tr>

        <tr><td>Prerequisites:</td><td>
          <textarea name="prerequisites" rows="5">@frm("prerequisites").value()</textarea>
          @formChecker(frm("prerequisites"))
        </td></tr>

      </table>
      </div><div class="col-md-6">
      <table class="topCells paddedTable noWrap formInput">
        <tr><td>Predicate:</td><td>
          <textarea name="predicate" rows="2"/>@frm("predicate").value()</textarea>
          @formChecker(frm("predicate"))
        </td></tr>

        <tr><td>Prescription Level:</td><td>
          <div style="display: inline;" id="prescriptionLevel">
        @defining(frm("prescriptionLevel")) { pres =>
          @for(opt <- Array("Mandatory", "Preferred", "Permitted")) {
            <input type="radio" name="prescriptionLevel" value="@opt" @if(pres.value == opt) {checked="checked"}
            /> @opt &nbsp;&nbsp;
          }</div>
          @formChecker(pres, "prescriptionLevel")
        }
        </td>
        </tr>

        <tr><td>Variables:</td><td>
          <textarea name="variables" value="@frm("variables").value()" rows="2"/>@frm("variables").value()</textarea>
          @formChecker(frm("variables"))
        </td></tr>
        <tr><td>Tag:</td><td>
          <textarea name="tag" value="@frm("tag").value()" rows="2"/>@frm("tag").value()</textarea>
          @formChecker(frm("tag"))
        </td></tr>
        <tr><td>Description:</td><td>
          <textarea name="description" value="@frm("description").value()" rows="2"/>@frm("description").value()</textarea>
          @formChecker(frm("description"))
        </td></tr>

      </table>
      </div></div></div>


      <hr />

      <input type="hidden" name="id" id="id" value='@frm("id").value' />
      <input type="hidden" name="groupId" id="groupId" value='@frm("groupId").value' />

      <br />
      <div align="center">
      <button type="submit" class="btn btn-success btn-sm">Create</button> &nbsp;
      <button type="reset" class="btn btn-primary btn-sm">Reset</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" onclick="history.back ( )" class="btn btn-warning btn-sm">Cancel</button>
      </div>

    </form>

  </div>

}


