@(ts: TestSuite)

<script>
  $(function(){
    bindValues($("#shortDescription@{ts.id}"))
    bindValues($("#mtdlParameters@{ts.id}"))
    bindValues($("#description@{ts.id}"))
  })
</script>

<h3>Short Description</h3>
<div id="shortDescription@{ts.id}" onclick='showUpdateInputTextDialog(@ts.id, "shortDescription", $(this).next(), "/doEditTestSuiteField")' class="editable"></div>
<input type="hidden" value="@ts.shortDescription"/>

<h3>Author</h3>
<p>
@ts.owner.email
</p>


<h3>MTDL Parameters</h3>
<div id="mtdlParameters@{ts.id}" onclick='showUpdateTextAreaDialog(@ts.id, "mtdlParameters", $(this).next(), "/doEditTestSuiteField")' class="editable"></div>
<input type="hidden" value="@ts.mtdlParameters"/>


<h3>Detailed Description</h3>
<div id="description@{ts.id}" onclick='showUpdateTextAreaDialog(@ts.id, "description", $(this ).next(), "/doEditTestSuiteField")' class="editable"></div>
<input type="hidden" value="@ts.description"/>
