@(ts: TestSuite, display: String = "details")
@import java.util.concurrent.atomic.AtomicInteger
@import global.Util._;
@import views.html.util._

@main(Messages("minder.navigation.restricted.testdesigner"), "testGroups",
  Array(("Test Groups", controllers.routes.Application.testGroups().path()),
    (ts.testGroup.name, controllers.routes.GroupController.getGroupDetailView(ts.testGroup.id, "suites").path()),
    (ts.name, controllers.routes.TestSuiteController.getTestSuiteDetailView(ts.id, "details")))) {

  @dialogs()

  <div class="padabit container-fluid">
    <script>
        $(function(){
          bindValues($("#name@{ts.id}"))
        });

        function showDetails() {
          ajaxRouteGet(jsRoutes.controllers.TestSuiteController.renderDetails, @ts.id)
        }
        function showEdit() {
          ajaxRouteGet(jsRoutes.controllers.TestSuiteController.renderEditor, @ts.id)
        }

        function showStatus(){
          ajaxRouteGet(jsRoutes.controllers.TestSuiteController.renderStatus, @ts.id)
        }
    </script>

    <div class="row">
      <div class="col-sm-@{
        global.Util.remaining
      }">

        <h2>@Messages("testSuite.TestSuite")
          <div id="name@{
            ts.id
          }" onclick='showUpdateInputTextDialog(@ts.id, "name", $(this).next(), "/doEditTestSuiteField")' class="hl editable"></div>
          <input type="hidden" value="@ts.name"/>
        </h2>

        <div class="indent">
          @ajaxDisplaySelector(display, "status" ->("Status", "showStatus"), "details" ->("Details", "showDetails"), "edit" ->("Edit", "showEdit"))
          <div class="ajaxContent container-fluid"></div>

        </div>
      </div>
      <div class="col-sm-@{
        global.Util.feedWidth
      } hidden-xs">
        @views.html.job.jobQueueFeed()
        <hr />
        @views.html.job.jobHistoryFeed()
      </div>
    </div>
  </div>
}
