@import views.html.authentication._
@import views.html.util._
@(ts: TestSuite, display: String = "details")(implicit authentication: Authentication)

@main(Messages("minder.navigation.restricted.testdesigner"), "testGroups",
  Array(("Test Groups", controllers.routes.Application.testGroups().path()),
    (ts.testGroup.name, controllers.routes.GroupController.getGroupDetailView(ts.testGroup.id, "suites").path()),
    (ts.name, controllers.routes.TestSuiteController.getTestSuiteDetailView(ts.id, "details")))) {

  @dialogs()

  <div class="padabit container-fluid">
    <script>
        $(function(){
          bindValues($("#name@ts.id"))
        });

        function showDetails() {
          ajaxRouteGet(jsRoutes.controllers.TestSuiteController.renderDetails, @ts.id)
        }
        function showEdit() {
          ajaxRouteGet(jsRoutes.controllers.TestSuiteController.renderEditor, @ts.id)
        }

        function showStatus(){
          ajaxRouteGet(jsRoutes.controllers.TestSuiteController.renderStatus, @ts.id)
        }
    </script>

    <div class="row">
      <div class="col-sm-12">

        <h3>@Messages("testSuite.TestSuite")
          <div id="name@ts.id"

            @subjectIs(ts.owner) {
              onclick='showUpdateInputTextDialog(@ts.id, "name", $(this).next(), "/doEditTestSuiteField")'
            }
              class="hl editable">

          </div>
          <input type="hidden" value="@ts.name"/>
        </h3>

        <div class="indent">
          @subjectIsOr(ts.owner) {
            @ajaxDisplaySelector(display, "status" ->("Status", "showStatus"), "details" ->("Details", "showDetails"), "edit" ->("Edit", "showEdit"))
          }{
          @ajaxDisplaySelector(display, "status" ->("Status", "showStatus"), "details" ->("Details", "showDetails"))
        }

          <div class="ajaxContent container-fluid"></div>

        </div>
      </div>
    </div>
  </div>
}
