@(default: String, pairs: Tuple2[String, Tuple2[String, String]]*)

@if(pairs != null && pairs.size > 0){
  <ul class="nav nav-tabs">

    @for((displayKey, (label, targetFunction)) <- pairs) {
      @*
      The @{displayKey}Td is a simple DOM id, like 1Td, 2Td ...
      I use that kind of id mapping to ensure unique DOM ids
      within the whole APP.
      *@

      <li role="presentation" id="@{displayKey}Li">
          <a onclick='tabClickHandler(@{targetFunction}, $("#@{displayKey}Li"), event)' href="#">@label</a>
      </li>
    }
  </ul>

  <script>
    function tabClickHandler(targetFunction, target, event){
      if (event !== undefined){
        event.stopImmediatePropagation();
        event.preventDefault();
      } else {
        var vnt = $(window.event);
        vnt.stop();
      }
      deactivateAll()
      target.addClass("active");
      targetFunction();
    }

    function deactivateAll(){
      @for((displayKey, (label, jsFunctionName)) <- pairs){
       $("#@{displayKey}Li").removeClass("active");
      }
    }

    //activate the first one
    $(function(){
      //activate the first one.
      @if(default != null){ //take the default from the scala code.
        //find the pair that has the key default
        @for((displayKey, (label, jsFunctionName)) <- pairs){
          //render the default display if hit
          //we assuem that the key exists only once in the list
          @if(displayKey == default){
            var targetFunction = @{jsFunctionName}
            var displayKeyName = "@{displayKey}"
            var jsSelector = "#" + displayKeyName + "Li"
            tabClickHandler(targetFunction, $(jsSelector));
          }
        }
      } else {
        var targetFunction = @{pairs.head._2}
        var displayKeyName = "@{pairs.head._1}"
        var jsSelector = "#" + displayKeyName + "Li"
        tabClickHandler(targetFunction, $(jsSelector));
      }
    })
  </script>
}