<div id="dialog-confirm" title="" style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float:left ; margin:0 7px 20px 0 ;"></span>
    The <span class="itemtype"></span> <b><span class="itemname"></span></b> will be deleted. Are you sure?</p>
</div>

<div id="mainDialog" title="" style="display:none" class="absofull">
  <form method="post" id="mainForm" style="height:100% ;">
  </form>
</div>

<div id="errorDialog" title="Error" style="display:none">
</div>

<div id="updateInputTextDialog" title="Update Field" style="display:none">
  <input type="text" style="width:100% ;" value=""/>
</div>

<div id="updateTextAreaDialog" title="Update Field" style="display:none">
  <textarea style="width:100% ; height:100% ; overflow:scroll ;"></textarea>
</div>

<div id="updateOptionDialog" title="Update Field" style="display:none">
  <select style="width:100% ; height:100% ; overflow:scroll ;"></select>
</div>


  <!-- the above ones are the good old jquery dialogs -->
  <!-- below ones are bootstrap -->

<div class="modal fade bs-example-modal-sm" id='myAlertDialog' tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel"></h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

function showInfoDialog(title, body, onClose){
  $('#myAlertDialog .modal-title').html(title)
  $('#myAlertDialog .modal-body').html(body)

  var dialog = $('#myAlertDialog');if (onClose !== undefined && onClose !== null){
    dialog.on('hidden.bs.modal', function (e) {
      onClose()
    })
  }
  dialog.modal({keyboard:true})
}
</script>