@(currentPath: Array[(String, String)] = null)


<div class="breadcrumbParent">
<ol class="breadcrumb">
  @{
    val sb = new StringBuilder
    if(currentPath != null) {
      var size = currentPath.length - 1;
      for( i <- 0 until currentPath.length) {
        val path = currentPath(i);
        if(i == size) {
          sb.append("<li class='breadactive'>")
          sb.append(path._1)
          sb.append("</li>")
        } else {
          sb.append("<li>")
          sb.append("<a class=\"\" style=\"padding: 5px;\" href=").append(path._2).append(">").append(path._1).append("</a>")
          sb.append("</li>")
          sb.append("&nbsp;<span class='fa-play' style='color:gray;font-size:8pt;'>&nbsp;&nbsp;</span>")
        }
      }
    }
    Html(sb.toString())
  }

</ol></div>
