@import helper._
@import views.html.util._
@(frm: Form[_], editMode: Boolean = true)(implicit authentication: Authentication)


@implicitFieldConstructor = @{
  FieldConstructor(myInput.f)
}

@getOrDummy() = @{
  val id = frm("id").value
  if(id == null || id.length == 0) {
    val tg = TestGroup.findById(frm("groupId").value.toLong)
    val tc = new UtilClass
    tc.name = "New Util Class"
    tc.testGroup = tg
    tc
  } else {
    UtilClass.findById(id.toLong)
  }
}

@defining(getOrDummy()) { utilClass =>
  @main(Messages("minder.navigation.restricted.testdesigner"), "mainNavigation",
    Array(("Test Groups", controllers.routes.Application.testGroups().path()),
      (utilClass.testGroup.name, controllers.routes.GroupController.getGroupDetailView(utilClass.testGroup.id, "utils").path()),
      (utilClass.name, ""))) {
    <div class="padabit">
      <br />
      @dialogs()
      <script type="text/javascript" src="@routes.Assets.versioned("javascripts/ace/ace.js")"></script>
      <script>

          $(function() {
            editor = ace.edit("editor");
            editor.setTheme("ace/theme/clouds");
            editor.getSession().setMode("ace/mode/scala");
            editor.setOptions({
              maxLines: 50,
              tabSize: 2,
              useSoftTabs: true
            });

            // store it
            $("#editor").data('AceInstance', editor);

            var content = $("#tdl");

            editor.getSession().on("change", function() {
              content.val(editor.getSession().getValue());
            });

            content.val(editor.getSession().getValue());
            //content.val(editor.getSession().getValue());
            //window.alert(content.val);

            $("#select").change(function () {
              $("#select option:selected").each(function () {
                var theme = "ace/theme/".concat($(this).text()) ;
                editor.setTheme(theme);

              });
            });

            document.addEventListener("keydown", function(e) {
              if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                e.preventDefault();
                $("#editorform").submit();
              }
            }, false);
          });
      </script>

      @defining(if(editMode == false) {
        routes.UtilClassController.doCreateUtilClass()
      } else {
        routes.UtilClassController.doEditUtilClass()
      }) { act =>
        <form id="editorform" method="post" action="@act">
          <table style="width: 100% ;">
            <tr>
              <td class="tabshrink">
                <b>Util Class: </b>
                @if(!editMode) {
                  <input type="text" name="name" value='@frm("name").value' style="border: 1px solid lightgrey ; background: white ; width:150px ;"/>
                } else {
                  @frm("name").value
                  <input type="hidden" name="name" id="name" value='@frm("name").value'/>
                }</td>
              <td class="tabshrink">
                  &nbsp;
                <b>Short Description:</b>
                <input type="text" name="shortDescription" value='@frm("shortDescription").value' style="border: 1px solid lightgrey ; background: white ; width:200px ;"/>
              </td>
              <td align="right" class="tabexpand">
                <table class="hidden-xs hidden-sm"><tr><td>
                  <b>Theme</b>: <select id="select">
                  <option>chrome</option>
                  <option>eclipse</option>
                  <option>monokai</option>
                  <option>sqlserver</option>
                  <option selected>clouds</option>
                  <option>textmate</option>
                  <option>xcode</option>
                </select>
                <td align="right">
                  <button type="submit" class="btn btn-primary btn-sm glyphicon glyphicon-floppy-disk" action="save">
                    Save</button>&nbsp;
                  <a type="cancel" onclick="history.back ( )" class="btn btn-danger btn-sm glyphicon glyphicon-floppy-disk">
                    Cancel</a>
                </td></tr></table>
                <table class="visible-xs visible-sm"><tr><td style="vertical-align: middle">
                    <!-- Split button -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle  btn-sm glyphicon glyphicon-menu-hamburger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a onclick='$("#editorform").submit();' class="glyphicon glyphicon-floppy-disk">Save</a></li>
                      <li role="separator" class="divider"></li>
                      <li><b>Theme</b>: <br /><select id="select2" style="width:95% ; height:25px ;">
                        <option>chrome</option>
                        <option>eclipse</option>
                        <option>monokai</option>
                        <option>sqlserver</option>
                        <option selected>clouds</option>
                        <option>textmate</option>
                        <option>xcode</option>
                      </select></li>
                      <li role="separator" class="divider"></li>
                      <li><a onclick="history.back ( )" class="glyphicon glyphicon-remove">Cancel</a></li>
                    </ul>
                  </div>
                </td>
                </tr>
                </table>
              </td>
            </tr>
          </table>

          @if(frm.hasErrors) {
            <p id="error" class="alert alert-danger" style='font-family:"Monaco", "Courier New", "monospace"'>
            @if(frm.hasErrors) {
              @for(error <- frm.errors) {
                @for(err <- error._2) {
                  @Html(utils.Util.fixLineNumbers(Messages(err.message), 9).replaceAll("\n", "<br/>"))
                }
              }
            }
            </p>
          }

          <div id="editor-container" style="padding-top: 5px;">
            <pre id="editor">@frm("tdl").value</pre>
          </div>

          <input type="hidden" name="id" id="id" value='@frm("id").value'/>
          <input type="hidden" name="groupId" id="groupId" value='@frm("groupId").value'/>
          <input type="hidden" name="tdl" id="tdl" value ='@frm("tdl").value' />

        </form>
      } <!-- defining -->
    </div>
  } <!-- main -->
} <!-- defining -->
