@import helper._
@import views.html.util._
@(form: Form[_])(implicit authentication: Authentication)



@implicitFieldConstructor = @{
  FieldConstructor(twitterBootstrapBasic.f)
}

@main(Messages("authenticate.changePassword"), "profile", Messages("authenticate.changePassword")) {

  <br/>
  <br/>

  <div class="panel-body">
  @helper.form(routes.Authentication.doChangePassword(), 'role -> "form") {

    @inputPassword(
      form("password"),
      '_label -> Messages("minder.login.password.placeholder")
    )

    @inputPassword(
      form("passwordAgain"),
      '_label -> Messages("minder.login.password.repeat"),
      '_showConstraints -> false,
      '_error -> form.error("password")
    )


    <button type="submit" class="btn btn-default">Change Password</button>
  }

  </div>
}
