@(display: String = "testGroups")

@import global.Util._
@import views.html.util._
@import views.html.testDesigner._
@import views.html.testDesigner.job._

@main(Messages("minder.navigation.restricted.testdesigner"), "restrictedTestDesigner") {

  @dialogs()
  <!--
<h3 class="explanation"><img src=" @routes.Assets.versioned("/images/about-64.png")
  " height="24px"/></h3>
  <p>
  @Messages("minder.restricted.testdesigner")
  </p>
  -->

  <table>
    <tr>
      <td style="width:10px;border-bottom:1px solid gray;">&nbsp;</td>
      <td class='@choose(display, "testGroups") tabshrink'>
        <h4>
          <a href="/restrictedTestDesigner?display=testGroups">Test Groups</a>
        </h4>
      </td>
      @{/*
      <td class="@choose(display, "designWithGui") tabshrink">
        <h4>
          <a href="/restrictedTestDesigner?display=designWithGui">Design With GUI</a></h4>
      </td>*/}
      <td class="@choose(display, "jobQueue") tabshrink">
        <h4>
          <a href="/restrictedTestDesigner?display=jobQueue">Job Queue</a></h4>
      </td>
      <td class="tabexpand">&nbsp;</td>
    </tr>
  </table>

  <div class="fullw fullh" style="padding: 10px;">
  @display match {
    case "testGroups" => {
      @testManager()
    }
    case "jobQueue" => {
      @jobFeed()
    }
  }
  </div>

}
