@import java.util.concurrent.atomic.AtomicInteger
@import views.html.util._
@import authentication._
@(testGroup: TestGroup)(implicit authentication: Authentication)

<script>
        $(function() {
          $( document ).tooltip();
        });
</script>

@subjectHasRole(security.Role.TEST_DESIGNER) {
  @createLinkButton("/createJobTemplateForm?groupId=" + testGroup.id, Messages("restrictedTestPage.createJobTemplate"))
  <br />
  <br />
}

<div id="jobTemplates@testGroup.id">
@if(JobTemplate.findByGroup(testGroup).size() > 0) {
  <table class="table table-hover table-condensed  table-striped " >
    @createFirstRow {
      <th >Name</th>
      <th >Author</th>

    }

    @defining(new AtomicInteger(1)) { index =>
      @defining(JobTemplate.findByGroup(testGroup)) { jobTemplates =>
        @for(jobtempl <- jobTemplates) {
          <tr>
            <td class="tabshrink" >@index.getAndIncrement</td>
            <td class="tabshrink"> @jobtempl.name</td>
            <td class="tabshrink">@jobtempl.owner</td>

            <td class="tabshrink" align="center" width="100px">
              <table><tr>
              @subjectIs(testGroup.owner) {
                <td>@createButton("", "glyphicon-pencil", "btn-default") {
                  createFormDialog(
                  "/editAssetForm?id=@{
                  jobtempl.id
                }",
                  "/doEditAsset",
                  "Edit Asset",
                  $("#testGroupAsset1").parent(),true)
                }</td>

                <td>@createButton("", "glyphicon-trash", "btn-default") {
                  deleteWithDialog("/doDeleteAsset?id=@jobtempl.id", $("#dialog-confirm"),
                  "Delete Asset", "asset", "@jobtempl.name", $("#testGroupAsset@{
                  testGroup.id
                }").parent())
                }</td>
              }
              </tr>
              </table>

            </td>
          </tr>
        }
      </table>
}
}
}
</div>