@(testGroup: TestGroup)

@import java.util.concurrent.atomic.AtomicInteger
@import views.html.util._
@import authentication._

<script>
    $(function() {
      $( document ).tooltip();
    });
</script>

@subjectIs(testGroup.owner) {
  @createButton(Messages("restrictedTestPage.createAsset"),
    "glyphicon-plus",
    "btn-primary") {
    createFormDialog(
      "/createNewAssetForm",
      "/doCreateTestAsset?groupId=@{testGroup.id}",
      "Create Asset",
      $("#testGroupAsset@{testGroup.id}").parent(),
      null,null,
      {"enctype":"multipart/form-data"}
    )
  }
  <br />
  <br />
}
<div id="testGroupAsset@testGroup.id">
  <table class="table table-hover table-condensed  table-striped " style="width: 50% ;">
    @createFirstRow {
      <th >Name</th>
      <th >Short Description</th>
    }

    @defining(new AtomicInteger(1)) { index =>
      @defining(TestAsset.findByGroup(testGroup)) { testAssets =>
        @for(asset <- testAssets) {
          <tr>
            <td class="tabshrink" >@index.getAndIncrement</td>
            <td class="tabshrink">
                &nbsp; @asset.name
            </td>

            <td class="tabshrink">
            @asset.shortDescription
            </td>
            <td class="tabshrink" align="center" width="100px">
              <table><tr>
                <td>@createLinkButton("/downloadAsset?id=" + asset.id, "", "glyphicon-download", "btn-default")</td>
                @subjectIs(testGroup.owner) {
                  <td>@createButton("", "glyphicon-pencil", "btn-default") {
                    createFormDialog(
                    "/editAssetForm?id=@{asset.id}",
                    "/doEditAsset",
                    "Edit Asset",
                    $("#testGroupAsset1").parent(),
                    null, null,
                    {"enctype":"multipart/form-data"})
                  }</td>

                  <td>@createButton("", "glyphicon-trash", "btn-default") {
                    deleteWithDialog("/doDeleteAsset?id=@asset.id", $("#dialog-confirm"),
                    "Delete Asset", "asset", "@asset.name", $("#testGroupAsset@{
                    testGroup.id
                  }").parent())
                  }</td>
                }
              </tr>
              </table>

            </td>
          </tr>
        }
      </table>
  }}
</div>