@(tg: TestGroup)
  @import java.util.concurrent.atomic.AtomicInteger
  @import views.html.util._
  @import authentication._

  @if(tg.testSuites.size() == 0) {
    <p>@Messages("testSuite.noTestSuiteYet")</p>
    @subjectHasRole(security.Role.TEST_DESIGNER) {
      @createButton(routes.TestSuiteController.getCreateTestSuiteView(tg.id).toString, Messages("restrictedTestPage.createTestSuite"))
    }
  } else {
    <table class="datatable shaded">
      @createFirstRow {
        <th>@Messages("testSuite.testSuiteName")</th>
        <th>@Messages("testSuite.shortDescription")</th>
        <th>@Messages("Author")</th>
      }
      @defining(new AtomicInteger(1)) { index =>
        @for( suite <- TestSuite.findByGroup(tg)) {
          <tr>
            <td>@index.getAndIncrement()</td> <td><a href="@routes.TestSuiteController.getTestSuiteDetailView(suite.id, "jobs")">@suite.name</a></td> <td>@suite.shortDescription</td>
            <td>@suite.owner.email</td>
            @subjectIs(suite.owner) {
              <td style="border:1px solid white ; background-color:white ;">
                <div title="Delete" class="bevel2 celldiv" style="height:30px ; width:30px ; cursor:hand ;"
                onclick='deleteWithDialog2("@routes.TestSuiteController.doDeleteTestSuite(suite.id)", $("#dialog-confirm"), "@Messages("testSuite.Delete")", "@Messages("testSuite.testSuite")", "@suite.name")'>
                  <img src="@routes.Assets.versioned("/images/trash2-64.png")" height="16px" alt='@suite.id'/>
                </div>
              </td>
            }
          </tr>
        }
      }

      @subjectHasRole(security.Role.TEST_DESIGNER) {
        @createLastRow(4) {
          @createButton(routes.TestSuiteController.getCreateTestSuiteView(tg.id).toString, Messages("restrictedTestPage.createTestSuite"))
        }
      }
    </table>
  }
