@(tc: TestCase, selectedTdl: Tdl)
@import java.util.concurrent.atomic.AtomicInteger
@import views.html.util._
@import global.Util._
@import authentication._

@subjectIs(tc.owner) {
  @if(Tdl.getLatestTdl(tc).id == selectedTdl.id) {
    @createLinkButton("/getEditCaseEditorView?id=" + selectedTdl.id, "Edit", "glyphicon-pencil")
    &nbsp;
    &nbsp;
    &nbsp;
  }
}
  Theme: <select id="select" class="dropdown">
  <option>3024-day</option>
  <option>ambiance</option>
  <option>cobalt</option>
  <option>eclipse</option>
  <option selected>mdn-like</option>
  <option>neat</option>
  <option>neo</option>
</select>
<form>
  <textarea id="code" name="code" class="CodeMirror fullw">@selectedTdl.tdl</textarea>
</form>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
      lineWrapping: true,
      lineNumbers: true,
      styleActiveLine: true,
      readOnly: true,
      viewportMargin: Infinity,
      mode: {name: "text/x-scala", globalVars: true},
      theme: "neo"
    });

    $("#select").change(function () {
      $("#select option:selected").each(function () {
        editor.setOption("theme", $(this).text());
      });
    });
</script>
