@(localUser: models.User = null)

<style type="text/css">
    .Table
    {
        display: table;
        vertical-align: middle;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;
    }
    .Cell
    {
     display: table-cell;
     vertical-align: left;
     text-align: left;
     border: solid;
     border-width: thin;
    }

    .CellAsHeader
    {
     display: table-cell;
     vertical-align: left;
     text-align: middle;
     border: solid;
     border-width: thin;
    }

    #accordion2 {
  		height: 100%;
  	}

  	.myscroll{
	  overflow:scroll;
	  width:100%;

	  background: rgb(200,230,255);
	 }

	 li:hover {
        opacity: 0.5;
        cursor: pointer;
     }
</style>

<script>
$(function() {
	var i = 5;
	minderAccordion("#accordion2");
});
</script>

@getName(text: String) = @{
  text.split('(')(0);
}

<div id="guidesign" class="fullw bevel"  data-demo-id="flowchart" data-library="dom" style="height:100%;">
	<div class="Table" style="width:100%;height:100%;">
		<div class="Heading">
			<div class="CellAsHeader" style="width:30%;height:5%;">
	            <p>Adapters</p>
	        </div>
	        <div class="CellAsHeader" style="width:70%;height:5%;">
	            <p>Test Case Editor</p>
	        </div>
		</div>
		<div class="Row">
	        <div id="accordion2" class="Cell" style="width:30%;height:95%;height:auto;overflow:scroll;">
		          @defining(Adapter.getAll()){ allAdapters =>
			           @for(currentAdapter <- allAdapters){
						   @defining(AdapterVersion.latestByAdapter(currentAdapter)){ lastVersion =>
							   <div class="title bevelsmall"><b class="trigger">@currentAdapter.name</b></div>
							   <div class="content" style="height:95%">
								   <div class="myscroll" style="overflow:auto;">
									   <div><b>Signals</b></div>
									   <div style="overflow:scroll"> <ul>
									   @for(currentSignal <- lastVersion.signals){
										   <li id="signal@lastVersion.id-@currentSignal.id">- @currentSignal.signature</li>
										   <script>
										   $("#signal@lastVersion.id-@currentSignal.id").click(function(){
										   // get it
										   var editor = $("#tdl").data('CodeMirrorInstance');
										   // from here on the API functions are available to 'myInstance' again.
										   var start_cursor = editor.getCursor();
										   var cursorLine = start_cursor.line;
										   var cursorCh = start_cursor.ch;
										   editor.replaceRange("\"@currentSignal.signature\" of \"@currentAdapter.name\"", start_cursor);
										   $("#adaptersDiv" ).hide();
										   });

										   </script>
									   }
									   </ul></div>
										   &nbsp;
									   <div><b>Slots</b></div>
									   <div style="overflow:scroll">
										   <ul>
										   @for(currentSlot <- lastVersion.slots){
											   <li id="slot@lastVersion.id-@currentSlot.id">- @currentSlot.signature</li>
											   <script>
											   $("#slot@lastVersion.id-@currentSlot.id").click(function(){
											   // get it
											   var editor = $("#tdl").data('CodeMirrorInstance');
											   // from here on the API functions are available to 'myInstance' again.
											   var start_cursor = editor.getCursor();
											   var cursorLine = start_cursor.line;
											   var cursorCh = start_cursor.ch;
											   editor.replaceRange("\"@currentSlot.signature\" of \"@currentAdapter.name\"", start_cursor);
											   $("#adaptersDiv" ).hide();
											   });

											   </script>
										   }
										   </ul></div>
								   </div>
							   </div>
						   }
			            }
		          }
	        </div>
	        <div class="Cell maxw fullh scroll" style="width:70%;height:95%;">
			   	<button type="submit" style="border: 0; background: transparent"  onclick=addNewConverter()>
                     <img src="@routes.Assets.versioned("/images/plus-64.png")" alt="Add New Converter" height="20" width="20">
                </button>
                <button type="submit" style="border: 0; background: transparent"  onclick=removeSelectedElement()>
                     <img src="@routes.Assets.versioned("/images/trash2-64.png")" alt="Delete Element" height="20" width="20">
                </button>
                <button type="submit" style="border: 0; background: transparent"  onclick=generateXMLofSVG()>
                     <img src="@routes.Assets.versioned("/images/save_as-64.png")" alt="Save" height="20" width="20">
                </button>
			   <object style="border:1px solid red;" id="SVGCanvas" width="100%" height="100%" type="image/svg+xml" data="@routes.Assets.versioned("javascripts/fundamentals.svg")"></object>
        	</div>
    	</div>
	</div>
</div>
