@import java.util.concurrent.atomic.AtomicInteger

@import authentication._
@import views.html.util._
@(tc: TestCase, selectedTdl: Tdl)(implicit authentication: Authentication)

  <!-- Display the list of Jobs assigned to this test case-->
@subjectHasRole(security.Role.TEST_DESIGNER) {
  @createLinkButton("/getCreateJobEditorView?tdlID=" + selectedTdl.id, Messages("restrictedTestPage.createJob"))
  <br />
  <br />
}

@views.html.job.jobEnqueueDialog()
@jobs = @{
  val tmp = Job.findByTdl(selectedTdl)
  tmp.sortWith((j1, j2) => j1.name.compareToIgnoreCase(j2.name) < 0)
}


@if(jobs.size() > 0) {
  <table class="table table-hover table-condensed table-striped">
    @createFirstRow {
      <th>Job Name</th>
      <th>Short Description</th>
      <th>Author</th>
    }
    @defining(new AtomicInteger(1)) { atomicIndex =>
      @for(job <- jobs) {
        @if(job.testSuite == null) {
          @decideOnVisibility(job.visibility, job.owner) {
            <tr>
              <td>@atomicIndex.getAndIncrement()</td> <td><a href="/viewJob?id=@job.id&showHistory=true">@job.name</a></td> <td>
              SHORT Description</td>
              <td>@job.owner.email</td>
              <td align="center">
                @decideOnVisibility(job.visibility, job.owner, security.Role.TEST_DESIGNER) {
                  <button type="button" class="glyphicon glyphicon-play btn btn-success  btn-sm" onclick='enqueue("@{job.name}", @{job.id}, "@{job.visibility}")' title="Enqueue">
                  </button>
                }

                @subjectIs(job.owner) {
                  <button type="button" class="glyphicon glyphicon-trash btn btn-danger  btn-sm" onclick='deleteWithDialog("/doDeleteJob?id=@job.id", $("#dialog-confirm"), "Delete Job", "job", "@job.name")' title="Delete">
                  </button>
                }
              </td>
            </tr>
          }
        }
      }
    }
  </table>
}

