@(tg: TestGroup, display: String)

@import java.util.concurrent.atomic.AtomicInteger
@import global.Util._
@import authentication._
@import views.html.testDesigner._
@import views.html.testDesigner.group._
@import views.html.util._

@main(Messages("minder.navigation.restricted.testdesigner"), "restrictedTestDesigner") {

    @dialogs()

    <h2 style="display:table-cell">Test Group
        <div id="name@{tg.id}"
        @subjectIs(tg.owner) {
          onclick='showUpdateInputTextDialog(@tg.id, "name", $(this).next(), "/doEditGroupField")'
        }
          class="hl editable"></div>
        <input type="hidden" value="@tg.name"/>
        </h2>

    <div class="indent">

      <h3>Owner</h3>
      <p>
        @tg.owner.name @tg.owner.email
      </p>

      <h3>Short Description</h3>
      <div id="shortDescription@{tg.id}"
        @subjectIs(tg.owner) {
          onclick='showUpdateInputTextDialog(@tg.id, "shortDescription", $(this).next(), "/doEditGroupField")'
        } class="editable"></div>
      <input type="hidden" value="@tg.shortDescription"/>

      <script>
        $(function(){
            bindValues($("#name@{tg.id}"))
            bindValues($("#shortDescription@{tg.id}"))
        })
        </script>

      <script>
        function showDetails(){
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderDetails, @tg.id, $("#groupSubItems"))
        }
        function showAssertions(){
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderTestAssertionList, @tg.id, $("#groupSubItems"))
        }
        function showSuites(){
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderTestSuites, @tg.id, $("#groupSubItems"))
        }
        function showAssets(){
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderTestAssets, @tg.id, $("#groupSubItems"))
        }
        function showUtils(){
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderUtilClasses, @tg.id, $("#groupSubItems"))
        }
        function showDependencies(){
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderDependencies, @tg.id, $("#groupSubItems"))
        }
      </script>

      @ajaxDisplaySelector(display,
        "details" -> ("Details", "showDetails"),
        "assertions" -> ("Test Assertions", "showAssertions"),
        "suites" -> ("Test Suites", "showSuites"),
        "assets" -> ( "Test Assets", "showAssets"),
        "utils" -> ( "Utility Classes", "showUtils"),
        "deps" -> ( "Dependencies", "showDependencies"))

      <br />
      <div id="groupSubItems">

      </div>
    </div>

}