@(tg: TestGroup)
@import views.html.util._
@import java.util.concurrent.atomic.AtomicInteger

<div class="indent">

    @if(tg.utilClasses.size() == 0){
        <p>No Utility Classes Yet</p>
        @createButton("/getCreateUtilClassEditorView?groupId=" + tg.id, "Add new utility class")
    } else {
        <table class="shaded">
            @createFirstRow {
                <th>Class Name</th>
                <th>Short Description</th>
                <th>Author</th>
            }
            @defining(new AtomicInteger(1)) { index =>
                @for(tc <- tg.utilClasses) {
                    <tr>
                        <td>@index.getAndIncrement()</td>
                        <td><a href="/viewUtilClass?id=@tc.id">@tc.name</a></td>
                        <td>@tc.shortDescription</td>
                        <td>@tc.owner.email</td>
                        <td>
                            <div title="Delete" class="bevel2 celldiv" style="height:30px;width:30px;cursor:hand;"
                            onclick='deleteWithDialog2("/doDeleteUtilClass?id=@tc.id", $("#dialog-confirm"), "Delete Utility Class", "util class", "@tc.name")'>
                                <img src="@routes.Assets.at("/images/trash2-64.png")" height="16px" alt='@tc.id'/>
                            </div>
                        </td>
                    </tr>
                }
            }

            @createLastRow(3) {
                @createButton("/getCreateUtilClassEditorView?groupId=" + tg.id, "Add new utility class")
            }
        </table>
    }
</div>
