@import java.util.concurrent.atomic.AtomicInteger
@import views.html.util._

<script>
  $(function() {
    $( document ).tooltip();
  });
  </script>

  @defining(new AtomicInteger(1)) {index =>
  <table class="shaded">
    @createFirstRow {
      <th>Test Group Name</th>
      <th>Short Description</th>
      <th>Author</th>
    }
    @for(tg <- TestGroup.findAll()) {
      <tr>
        <td>@index.getAndIncrement()</td><td><a href="/getGroupDetailView?id=@tg.id&display=details">@tg.name</a></td> <td>@tg.shortDescription</td>
        <td>@tg.owner.name @tg.owner.email</td>
        <td>
        <div title="Delete" class="bevel2 celldiv" style="height:30px;width:30px;cursor:hand;"
        onclick='deleteWithDialog2("/doDeleteGroup?id=@tg.id", $("#dialog-confirm"), "Delete Group", "group", "@tg.name")'>
        <img src="@routes.Assets.versioned("/images/trash2-64.png")" height="16px" alt='@tg.id'/>
      </div>
        </td>
      </tr>
    }

    @createLastRow(3){
      @createButton("/getCreateGroupEditorView", Messages("restrictedTestPage.createTestGroup"))
    }
  </table>
  }
