@import play.data.validation.ValidationError
@import utils.Util
@(form: play.api.data.Form[_])(implicit authentication: Authentication)

  @testGroupId = @{
    java.lang.Long.parseLong(form("groupId").value.get)
  }

  @testGroup = @{
    TestGroup.findById(testGroupId)
  }

  @main(Messages("minder.navigation.restricted.schedules"), "mainNavigation",
    Array(("Test Groups", controllers.routes.Application.testGroups().path()),
      (testGroup.name, controllers.routes.GroupController.getGroupDetailView(testGroup.id, "sched").path()),
      ("New Schedule", ""))) {


    <div class="padabit">


      <h3>Create new schedule</h3>

      @if(form.hasGlobalErrors) {
        <div class="alert alert-warning">
          <ul>
          @for(error <- form.globalErrors) {
            <li>@error.message</li>
          }
          </ul>
        </div>
      }

      @if(form.hasErrors) {
        <div class="alert alert-danger">
          <ul>
          @for(errors <- form.errors) {
            <li>@errors.key:
            <ul>
            @for(error <- errors.messages) {
              <li>@Messages(error, errors.args)</li>
            }
            </ul>
            </li>
          }
          </ul>
        </div>
      }

      <form id="editorform" method="post" action='@routes.Scheduling.doAddScheduledJob()'>
        <table class="table table-condensed">
          <tr>
            <td class="tabshrink">
              <b>Name: </b></td><td>
              <input type="text" name="name" value='@form("name").value'
                @{
                  form.error("name").map { valEr =>
                    Html(s"class='inputError'")
                  }
                }
              style="width: 150px ;"
              />
            </td>
          </tr>
          <tr>
            <td class="tabshrink">
              <b>Period: </b></td><td>
              <input type="text" name="cronExpression" value='@form("cronExpression").value'
                @{
                  form.error("cronExpression").map { valEr =>
                    Html(s"class='inputError'")
                  }
                }
              style="width: 150px ;"
              />
            </td>
          </tr>
        </table>

        <input type="hidden" name="id" value='@form("id").value.getOrElse("")'/>
        <input type="hidden" name="groupId" value='@form("groupId").value.getOrElse("")'/>
        <br />
        <button class="btn btn-info btn-xs" type="submit"><span class="fa fa-save"></span> Add</button>
        <button class="btn btn-info btn-xs" type="reset"><span class="fa fa-times"></span> Cancel</button>
      </form>
    </div>
  } <!-- main -->
