@(ts: TestSuite, display: String = "details")
@import java.util.concurrent.atomic.AtomicInteger
@import global.Util._;
@import views.html.util._

@main(Messages("minder.navigation.restricted.testdesigner"), "restrictedTestDesigner") {

  @dialogs()

  <script>
      $(function(){
        bindValues($("#name@{ts.id}"))
      });

      function showDetails() {
        ajaxRouteGet(jsRoutes.controllers.TestSuiteController.renderDetailView, @ts.id, $("#habura"))
      }

      function showJobs() {
        ajaxRouteGet(jsRoutes.controllers.TestSuiteController.renderJoblistView, @ts.id, $("#habura"))
      }

      function showRuns(){
        ajaxRouteGet(jsRoutes.controllers.TestSuiteController.renderTestRunListView, @ts.id, $("#habura"))
      }
  </script>

  <h2>@Messages("testSuite.TestSuite")
    <div id="name@{ts.id}" onclick='showUpdateInputTextDialog(@ts.id, "name", $(this).next(), "/doEditTestSuiteField")' class="hl editable"></div>
    <input type="hidden" value="@ts.name"/>
  </h2>

  <div class="indent">

    @ajaxDisplaySelector(display, "details" -> ("Details", "showDetails"), "jobs" -> ("Jobs", "showJobs"), "runs" -> ("Test Runs", "showRuns"))

    <div id="habura"></div>

</div>
}
