@import authentication._
@import views.html._
@import views.html.util._
@(tg: TestGroup, display: String = "assertions")(implicit authentication: Authentication)

@main(Messages("minder.navigation.restricted.testdesigner"), "testGroups",
  Array(("Test Groups", controllers.routes.Application.testGroups().path()),
    (tg.name, controllers.routes.GroupController.getGroupDetailView(tg.id, "details").path()))) {

  <div class="padabit">
    @dialogs()

    <h3 class="mytitle">Test Group
      <span id="name@{
        tg.id
      }"
        @subjectIs(tg.owner) {
          onclick='showUpdateInputTextDialog(@tg.id, "name", $(this).next(), "/doEditGroupField")'
        }
      class="hl editable"></span>
      <input type="hidden" value="@tg.name"/>
    </h3>

    <script>
        $(function () {
          bindValues($("#name@{tg.id}"))
        })
    </script>


    <script>
        function showDetails() {
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderDetails, @tg.id, $("#groupSubItems"))
        }
        function showAssertions() {
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderTestAssertionList, @tg.id, $("#groupSubItems"))
        }
        function showSuites() {
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderTestSuites, @tg.id, $("#groupSubItems"))
        }
        function showAssets() {
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderTestAssets, @tg.id, $("#groupSubItems"))
        }
        function showUtils() {
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderUtilClasses, @tg.id, $("#groupSubItems"))
        }
        function showDependencies() {
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderDependencies, @tg.id, $("#groupSubItems"))
        }
        function showReportTemplates() {
          ajaxRouteGet(jsRoutes.controllers.GroupController.renderReportTemplates, @tg.id, $("#groupSubItems"))
        }
        function showAdvancedReporting() {
          ajaxRouteGet(jsRoutes.controllers.AdvancedReporting.renderMain, @tg.id, $("#groupSubItems"))
        }
        function showScheduling() {
          ajaxRouteGet(jsRoutes.controllers.Scheduling.listScheduledJobs, @tg.id, $("#groupSubItems"))
        }
    </script>

    @ajaxDisplaySelector(display,
      "assertions" -> ("Test Assertions", "showAssertions"),
      "details" -> ("Details", "showDetails"),
      "suites" -> ("Test Suites", "showSuites"),
      "assets" -> ("Assets", "showAssets"),
      "utils" -> ("Utilities", "showUtils"),
      "deps" -> ("Libs", "showDependencies"),
      "reportTemplates" -> ("Report Templates", "showReportTemplates"),
      "advancedReporting" -> ("Advanced Reporting", "showAdvancedReporting"),
      "sched" -> ("Scheduling", "showScheduling")
    )


    <br />
    <div id="groupSubItems">

    </div>
  </div>

}