@(tg: TestGroup, display: String = "assertions")

@import java.util.concurrent.atomic.AtomicInteger
@import global.Util._
@import authentication._
@import views.html._
@import views.html.group._
@import views.html.util._

@main(Messages("minder.navigation.restricted.testdesigner"), "mainNavigation",
  Array(("Test Groups", controllers.routes.Application.testGroups().path()),
    (tg.name, controllers.routes.GroupController.getGroupDetailView(tg.id, "details").path()))) {

  @dialogs()

  <h3 class="inline">Test Group
    <mark id="name@{
      tg.id
    }"
      @subjectIs(tg.owner) {
        onclick='showUpdateInputTextDialog(@tg.id, "name", $(this).next(), "/doEditGroupField")'
      }
    class="hl editable"></mark>
    <input type="hidden" value="@tg.name"/>
  </h3>

  <br />
  <hr/>

  <h4>Owner</h4>
  <span>
    @tg.owner.name @tg.owner.email
  </span>

  <h4>Short Description</h4>
  <mark id="shortDescription@{
    tg.id
  }"
    @subjectIs(tg.owner) {
      onclick='showUpdateInputTextDialog(@tg.id, "shortDescription", $(this).next(), "/doEditGroupField")'
    } class="editable"></mark>
  <input type="hidden" value="@tg.shortDescription"/>

  <br />
  <hr/>

  <script>
      $(function(){
        bindValues($("#name@{tg.id}"))
        bindValues($("#shortDescription@{tg.id}"))
      })
  </script>


  <script>
      function showDetails(){
        ajaxRouteGet(jsRoutes.controllers.GroupController.renderDetails, @tg.id, $("#groupSubItems"))
      }
      function showAssertions(){
        ajaxRouteGet(jsRoutes.controllers.GroupController.renderTestAssertionList, @tg.id, $("#groupSubItems"))
      }
      function showSuites(){
        ajaxRouteGet(jsRoutes.controllers.GroupController.renderTestSuites, @tg.id, $("#groupSubItems"))
      }
      function showAssets(){
        ajaxRouteGet(jsRoutes.controllers.GroupController.renderTestAssets, @tg.id, $("#groupSubItems"))
      }
      function showUtils(){
        ajaxRouteGet(jsRoutes.controllers.GroupController.renderUtilClasses, @tg.id, $("#groupSubItems"))
      }
      function showDependencies(){
        ajaxRouteGet(jsRoutes.controllers.GroupController.renderDependencies, @tg.id, $("#groupSubItems"))
      }
  </script>

  @ajaxDisplaySelector(display,
    "assertions" ->("Test Assertions", "showAssertions"),
    "details" ->("Details", "showDetails"),
    // "suites" -> ("Test Suites", "showSuites"),
    "assets" ->("Test Assets", "showAssets"),
    "utils" ->("Utility Classes", "showUtils"),
    "deps" ->("Dependencies", "showDependencies"))

  <br />
  <div id="groupSubItems">

  </div>

}