@import util._
@import helper._
@(frm: Form[_], localUser: models.User = null)

@implicitFieldConstructor = @{
  FieldConstructor(twitterBootstrapBasic.f)
}

@if(frm.hasGlobalErrors) {
  <p class="alert alert-danger">
  @frm.globalError.message
  </p>
}
@inputText(
  frm("name"),
  '_label -> "Test Asset Name"
)

@inputText(
  frm("shortDescription"),
  '_label -> "Short Description"
)

<label for="asset">Asset File:</label>
<input type="file" id="asset" name="asset" on/>

<script>
    $("#asset").change(function () {
      var fileName = $("#asset").val() ;
      if (fileName.lastIndexOf('/') >= 0) {
        fileName = fileName.substr(fileName.lastIndexOf('/') + 1)
      }
      if (fileName.lastIndexOf('\\') >= 0) {
        fileName = fileName.substr(fileName.lastIndexOf('\\') + 1)
      }
      $("#name").val(fileName)
      $("#shortDescription").val(fileName)
    }) ;
</script>
<input type="hidden" name="id" id="id" value='@frm("id").value' />
