@import java.util.concurrent.atomic.AtomicInteger
@import views.html.util._

@import authentication._


@main("Test Groups", "testGroups",
  Array(("Test Groups", controllers.routes.Application.testGroups().path()))) {
  @dialogs()
  <script>
      $(function() {
        $( document ).tooltip();
      });
  </script>

  @subjectHasRole(security.Role.TEST_DESIGNER) {
    @createLinkButton("/getCreateGroupEditorView", Messages("restrictedTestPage.createTestGroup"))

    <br />
    <br />
  }

  @defining(new AtomicInteger(1)) { index =>
    <table class="table table-hover table-condensed  table-striped">
      @createFirstRow {
        <th>Test Group Name</th>
        <th>Short Description</th>
        <th>Author</th>
      }
      @for(tg <- TestGroup.findAll()) {
        <tr>
          <td>@index.getAndIncrement()</td> <td><a href="/getGroupDetailView?id=@tg.id&display=assertions">@tg.name</a></td> <td>@tg.shortDescription</td>
          <td>@tg.owner.name @tg.owner.email</td>
          @subjectIs(tg.owner) {
            <td>
              <button class="btn btn-default"
              onclick='deleteWithDialog("/doDeleteGroup?id=@tg.id", $("#dialog-confirm"), "Delete Group", "group", "@tg.name")'>
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          }
        </tr>
      }
  }
</table>
}
