@import authentication._
@import views.html.util._
@(job: Job, showHistory: Boolean = true, localUser: models.User = null)(implicit authentication: Authentication)

  @main(Messages("minder.navigation.restricted.testdesigner"), "testGroups",
  Array(("Test Groups", controllers.routes.Application.testGroups().path()),
    (job.tdl.testCase.testAssertion.testGroup.name, controllers.routes.GroupController.getGroupDetailView(job.tdl.testCase.testAssertion.testGroup.id, "assertions").path()),
    (job.tdl.testCase.testAssertion.taId, controllers.routes.TestAssertionController.getAssertionDetailView(job.tdl.testCase.testAssertion.id, "cases").path()),
    (job.tdl.testCase.name, controllers.routes.TestCaseController.viewTestCase(job.tdl.testCase.id, "jobs").path()),
    (job.name, controllers.routes.JobController.displayJob(job.id, true).path())
  )) {

  <div class="padabit">
    @dialogs()
    @jobEnqueueDialog()

    <script>
        $ ( function ( ) {
          new EventSource ( '@controllers.routes.AdapterStatusFeeder.adapterJobStatusFeed(job.id)'
          ).onmessage = function ( event ) {
            var kk = JSON.parse ( event.data )
            if ( kk.online == true ) {
              $ ( "span.onStatus" + kk.id ).show ( )
              $ ( "span.offStatus" + kk.id ).hide ( )
            } else {
              $ ( "span.onStatus" + kk.id ).hide ( )
              $ ( "span.offStatus" + kk.id ).show ( )
            }
          }
        });
    </script>


    <h3>

    @if(job.testSuite == null) {
      Job
      <span id="name@{
        job.id
      }"
        @subjectIs(job.owner) {
          onclick='showUpdateInputTextDialog(@job.id, "name", $(this).next(), "/doEditJobField")'
        }
      class="hl editable"></span>
      <input type="hidden" value="@job.name"/>
    } else {
      Suite Job
      <span style="color:black">@job.name</span>
    }
    </h3>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-condensed table-striped table-hover">
                <tr><th>Job Identifier:</th>
                  <td>@job.id</td>
                </tr>
                <tr><th>Visibility:</th>
                  <td id="visibilityTd">@visibilityTagFragment(job.visibility, job.owner, true, true)</td>
                </tr>
                <tr>
                  <th>Test Group:</th>
                  <td>
                    <a href="/getGroupDetailView?id=@{
                      job.tdl.testCase.testAssertion.testGroup.id
                    }&display=assertions">
                    @job.tdl.testCase.testAssertion.testGroup.name
                    </a>
                  </td>
                </tr>



                @if(job.testSuite != null) {
                  <tr>
                    <th>Test Suite</th><td>
                    <a href='@controllers.routes.TestSuiteController.getTestSuiteDetailView(job.testSuite.id, "status")'>
                    @{
                      job.testSuite.name
                    }</a>
                  </td>
                  </tr>
                }



                <tr>
                  <th>Test Assertion:</th>
                  <td>
                    <a href="/getAssertionDetailView?id=@{
                      job.tdl.testCase.testAssertion.id
                    }">
                    @job.tdl.testCase.testAssertion.taId
                    </a>
                  </td>
                </tr>
                <tr><th>Test Case:</th>
                  <td>
                    <a href="/viewTestCase2?id=@{
                      job.tdl.testCase.id
                    }&tdlId=@{
                      job.tdl.id
                    }&display=jobs">
                    @job.tdl.testCase.name
                    </a>
                  </td>
                </tr>

                <tr><th>Parameters:</th>
                  <td>
                  @if(job.testSuite == null) {
                    <span id="params@{
                      job.id
                    }"

                      @subjectIs(job.owner) {
                        onclick='showUpdateTextAreaDialog(@job.id, "mtdlParameters", $(this).next(), "@controllers.routes.JobController.doEditJobField()")'
                      }
                    class="hl editable"
                    ></span>
                    <input type="hidden" value="@job.mtdlParameters"/>
                  } else {
                    @job.mtdlParameters
                  }
                  </td>
                </tr>

                @if(job.mappedAdapters != null && job.mappedAdapters.size() > 0) {
                  <tr>
                    <th>Adapter Mapping:</th>
                    <td>
                      <table class="table-condensed table-bordered">
                        <tr><th>Variable</th><th>Actual Adapter</th><th>Status</th></tr>
                        @defining(job.mappedAdapters) { lst =>
                          @for(mw <- job.mappedAdapters) {
                            <tr>
                              <td>@mw.parameter.name</td> <td>@mw.adapterVersion.adapter.name</td>
                              <td align="center">
                                <span class="onStatus@{
                                  mw.adapterVersion.id
                                }" style="display:none" class="bignobold online"> <img src="@routes.Assets.versioned("/images/Pc_Online.png")"/></span>
                                <span class="offStatus@{
                                  mw.adapterVersion.id
                                }" style="display:none" class="bignobold offline"> <img src="@routes.Assets.versioned("/images/Pc_Offline.png")"/></span>
                              </td></tr>
                          }
                        }
                      </table>
                    </td>
                  </tr>
                }
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              @if(job.testSuite == null) {
                @decideOnVisibility(job.visibility, job.owner, security.Role.TEST_DESIGNER) {
                  <button id="enqueue" type="button" class="btn btn-success btn-sm" onclick='enqueue("@{job.name}", @{job.id}, "@{job.visibility}")' title="Enqueue">
                    <span class="glyphicon glyphicon-play"></span> Enqueue
                  </button>
                }

                <button type="button" class="btn btn-primary btn-sm" onclick='window.location="@controllers.routes.Application.jobQueue()"' title="Test Monitor">
                  <span class="glyphicon glyphicon-tasks"></span> Test Monitor
                </button>
              } else{
                <mark>Please navigate to the test suite <a href='@controllers.routes.TestSuiteController.getTestSuiteDetailView(job.testSuite.id, "status")'>
                @{
                  job.testSuite.name
                }</a> to run this job</mark>
              }

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
            @testRunLister(job.id)
            </div>
          </div>
        </div>
      </div>
    </div>

    @subjectIs(job.owner) {
      @visibilityEditorFragment("jsRoutes.controllers.JobController.changeJobVisibility", job.id, job.visibility, "visibilityTd")
    }

    <script>
        $(function(){
          bindValues($("#name@{job.id}"))
          bindValues($("#params@{job.id}"))
        })
    </script>
  </div>
}