@import authentication._
@import views.html.util._
@import security.Role

@(job: Job, showHistory: Boolean = true, localUser: models.User = null)
  @main(Messages("minder.navigation.restricted.testdesigner"), "testGroups",
    Array(("Test Groups", controllers.routes.Application.testGroups().path()),
      (job.tdl.testCase.testAssertion.testGroup.name, controllers.routes.GroupController.getGroupDetailView(job.tdl.testCase.testAssertion.testGroup.id, "assertions").path()),
      (job.tdl.testCase.testAssertion.taId, controllers.routes.TestAssertionController.getAssertionDetailView(job.tdl.testCase.testAssertion.id, "cases").path()),
      (job.tdl.testCase.name, controllers.routes.TestCaseController.viewTestCase(job.tdl.testCase.id, "jobs").path()),
      (job.name, controllers.routes.JobController.displayJob(job.id, true).path())
    )) {

    @dialogs()
    @jobEnqueueDialog()

    <script>
        $ ( function ( ) {
          new EventSource ( '@controllers.routes.AdapterStatusFeeder.adapterJobStatusFeed(job.id)'
          ).onmessage = function ( event ) {
            var kk = JSON.parse ( event.data )
            if ( kk.online == true ) {
              $ ( "span.onStatus" + kk.id ).show ( )
              $ ( "span.offStatus" + kk.id ).hide ( )
            } else {
              $ ( "span.onStatus" + kk.id ).hide ( )
              $ ( "span.offStatus" + kk.id ).show ( )
            }
          }
        });
    </script>


    <h3>Job
      <span id="name@{
        job.id
      }"
        @subjectIs(job.owner) {
          onclick='showUpdateInputTextDialog(@job.id, "name", $(this).next(), "/doEditJobField")'
        }
      class="hl editable"></span>
      <input type="hidden" value="@job.name"/>

    </h3>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-condensed table-striped table-hover">
                <tr><th>Visibility:</th>
                  <td id="visibilityTd">@visibilityTagFragment(job.visibility, job.owner, true, true)</td>
                </tr>
                <tr>
                  <th>Test Group:</th>
                  <td>
                    <a href="/getGroupDetailView?id=@{
                      job.tdl.testCase.testAssertion.testGroup.id
                    }&display=assertions">
                    @job.tdl.testCase.testAssertion.testGroup.name
                    </a>
                  </td>
                </tr>
                <tr>
                  <th>Test Assertion:</th>
                  <td>
                    <a href="/getAssertionDetailView?id=@{
                      job.tdl.testCase.testAssertion.id
                    }">
                    @job.tdl.testCase.testAssertion.taId
                    </a>
                  </td>
                </tr>
                <tr><th>Test Case:</th>
                  <td>
                    <a href="/viewTestCase2?id=@{
                      job.tdl.testCase.id
                    }&tdlId=@{
                      job.tdl.id
                    }&display=jobs">
                    @job.tdl.testCase.name
                    </a>
                  </td>
                </tr>
                <tr><th>Parameters:</th>
                  <td>
                    <span id="params@{
                      job.id
                    }"
                      @subjectIs(job.owner) {
                        onclick='showUpdateTextAreaDialog(@job.id, "mtdlParameters", $(this).next(), "@controllers.routes.JobController.doEditJobField()")'
                      }
                    class="hl editable"></span>
                    <input type="hidden" value="@job.mtdlParameters"/>
                  </td>
                </tr>

                @if(job.mappedWrappers != null && job.mappedWrappers.size() > 0) {
                  <tr>
                    <th>Adapter Mapping:</th>
                    <td>
                      <table class="table-condensed table-bordered">
                        <tr><th>Variable</th><th>Actual Wrapper</th><th>Status</th></tr>
                        @defining(job.mappedWrappers) { lst =>
                          @for(mw <- job.mappedWrappers) {
                            <tr>
                              <td>@mw.parameter.name</td> <td>@mw.wrapperVersion.wrapper.name</td>
                              <td align="center">
                                <span class="onStatus@{
                                  mw.wrapperVersion.id
                                }" style="display:none" class="bignobold online"> <img src="@routes.Assets.versioned("/images/Pc_Online.png")"/></span>
                                <span class="offStatus@{
                                  mw.wrapperVersion.id
                                }" style="display:none" class="bignobold offline"> <img src="@routes.Assets.versioned("/images/Pc_Offline.png")"/></span>
                              </td></tr>
                          }
                        }
                      </table>
                    </td>
                  </tr>
                }
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              @decideOnVisibility(job.visibility, job.owner, security.Role.TEST_DESIGNER) {
                <button id="enqueue" type="button" class="btn btn-success" onclick='enqueue("@{job.name}", @{job.id}, "@{job.visibility}")' title="Enqueue">
                  <span class="glyphicon glyphicon-play"></span>
                </button>
              }
              <button type="button" class="btn btn-primary" onclick='window.location="@controllers.routes.Application.jobQueue()"' title="Test Monitor">
                <span class="glyphicon glyphicon-tasks"></span>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              @testRunLister(job.id)
            </div>
          </div>
        </div>
        <div class="col-md-4">
          @*Right side of the page, up *@
          @jobQueueFeed()
          @*Right side of the page, down *@
          @jobHistoryFeed()
        </div>
      </div>
    </div>

    @subjectIs(job.owner) {
      @visibilityEditorFragment("jsRoutes.controllers.JobController.changeJobVisibility", job.id, job.visibility, "visibilityTd")
    }

    <script>
        $(function(){
          bindValues($("#name@{job.id}"))
          bindValues($("#params@{job.id}"))
        })
    </script>
  }