@main("Job Queue", "jobFeed",
  Array(("Job Queue", controllers.routes.Application.jobFeed().path()))) {
  <script>
      $ ( function ( ) {
        var queuefeed = $( "#queuefeed" )[0];
        var statusfeed = $( "#statusfeed" )[0];
        var logfeed = $( "#logfeed" )[0];
        var historyfeed = $( "#historyfeed" )[0];
        var logpre = $("#logpre")
        var logdiv = $("#logdiv")

        new EventSource ( '/jobQueueFeed' ).onmessage = function ( event ) {
          //var json = JSON.parse ( event.data )
          //for (indx in json) {
          //    k = json[indx];
          //    resolved.append ( k.jobId + " " + k.jobName + " " + k.startedBy + " " + k.progress + " " + k.status + "<br />" )
          //}
          queuefeed.innerHTML = event.data
        }

        new EventSource ( '/jobStatusFeed' ).onmessage = function ( event ) {
          statusfeed.innerHTML = event.data
        }


        new EventSource ( '/logFeed' ).onmessage = function ( event ) {
          var newd  = event.data
          logpre[0].textContent += "\n" + newd;
          logdiv.scrollTop(logdiv.prop("scrollHeight"));
        }

        new EventSource ( '/historyFeed' ).onmessage = function ( event ) {
          historyfeed.innerHTML = event.data
        }
      });
  </script>

  <table class="fullw fullh">
    <tr>
      <td style="width:25% ; vertical-align:text-top ; padding:10px ;" rowspan="2">
        <div id="queuefeed">
        @jobQueueList()
        </div>

        <div id="historyfeed">
        @jobHistoryList()
        </div>
      </td>
      <td id="statusfeed" style="vertical-align: text-top ; padding:10px ; border-left: 1px solid #ccc">
      @testStatusMonitor()
      </td>
    </tr>
    <tr class="fullh">
      <td class="tipitip" style="height:99% ;">
        <label>Log</label>
        <div class="tipitip" id="logdiv" style="height:100% ; border:1px solid gray ; border-radius:2px ; overflow:scroll">
          <pre id="logpre">@TestEngineController.currentLog</pre>
        </div>
      </td>
    </tr>
  </table>
}