@import authentication._

@main("Job Queue", "jobFeed",
  Array(("Job Queue", controllers.routes.Application.jobFeed().path()))) {
  <script>
      $ ( function ( ) {
        var statusfeed = $( "#statusfeed" )[0];
        var logfeed = $( "#logfeed" )[0];
        var logpre = $("#logpre")
        var logdiv = $("#logdiv")

        new EventSource ( '@controllers.routes.TestRunFeeder.testStatusFeed()' ).onmessage = function ( event ) {
          statusfeed.innerHTML = event.data
        }

        new EventSource ( '@controllers.routes.LogFeeder.logFeed()' ).onmessage = function ( event ) {
          var newd  = event.data
          logpre[0].textContent += "\n" + newd;
          logdiv.scrollTop(logdiv.prop("scrollHeight"));
          console.log("Log " + event.data)
        }
      });
  </script>

  <table class="fullw fullh">
    <tr>
      <td style="width:25% ; vertical-align:text-top ; padding:10px ;" rowspan="2">
        <div id="queuefeed">
        @jobQueueFeed()
        </div>

        <div id="historyfeed">
        @jobHistoryFeed()
        </div>
      </td>
      <td id="statusfeed" style="vertical-align: text-top ; padding:10px ; border-left: 1px solid #ccc">
      @testStatusMonitor()
      </td>
    </tr>
    <tr class="fullh">
      <td class="tipitip" style="height:99% ;">
        <label>Log</label>
        <div class="tipitip" id="logdiv" style="height:100% ; border:1px solid gray ; border-radius:2px ; overflow:scroll">
          <pre id="logpre"></pre>
          <script>
              var log = "";
              @for(logRecord <- LogFeeder.currentLog){@if(logRecord.testRun != null){@decideOnVisibility(logRecord.testRun.visibility, logRecord.testRun.runner){log += '@{Html(logRecord.log)}\n';}}else{log += '@{Html(logRecord.log)}\n';}}
              $('#logpre').text(log)
          </script>
        </div>
      </td>
    </tr>
  </table>
}