<script>
  $ ( function ( ) {


    var successImage = '<img src="@routes.Assets.versioned("/images/Check-icon.png")" height="12px" alt="G"/>'
    var failImage = '<img src="@routes.Assets.versioned("/images/Delete-icon.png")" height="12px" alt="B"/>'

    var rowTemplate = $("#historyRowTemplate").html()

    historyTableBody = $( "#updatableTbody" )
    new EventSource ('@{controllers.routes.TestRunFeeder.jobHistoryFeed()}' ).onmessage =
        function ( event ) {

          console.log("History " + event.data)
          var json = JSON.parse ( event.data )

          var img = successImage
          var cls = 'goodTestRun'
          if (!json.success) {
            img = failImage
            cls = 'badTestRun'
          }
          var visibilityColor = 'red'
          var visibilityClass = "fa-lock"
          if (json.visibility == "PUBLIC"){
            visibilityClass = 'fa-globe'
            visibilityColor = '#1fc36d'
          }
          else if (json.visibility == "PROTECTED"){
            visibilityClass = 'fa-group'
            visibilityColor = '#7cd8ff'
          }

          var newRow  = rowTemplate.replace('$image', img).replace("$trclass", cls).
          replace('$testRunNumber', json.no).
          replace('$testRunId', json.id).
          replace('$jobName', json.name).
          replace('$jobName', json.name).
          replace('$jobId', json.jobId).
          replace('$visibilityColor', visibilityColor).
          replace('$visibilityClass', visibilityClass).
          replace('$visibility', json.visibility)


          console.log(newRow)
          historyTableBody.prepend(newRow)
        }
  });
</script>


<div class="panel panel-info">

  <div class="panel-heading">Job History</div>
  <div class="panel-body zeropad">
    <div align="center">
      <nav style="padding-top: 2px ;">
        <ul class="pagination pagination-sm" style="margin:0px ; display: none">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <table class="table table-hover table-condensed table-striped" style="border:none ;">
      <tbody id="updatableTbody">
      @defining(TestRun.getRecentRuns(40)) { testRunList =>
        @for(testRun <- testRunList) {
          @authentication.decideOnVisibility(testRun.visibility, testRun.runner) {
            <tr class="@if(testRun.success) {goodTestRun} else {badTestRun}">
              <td style="text-align:left ;" class="tabshrink">
              @if(testRun.success) {
                <img src="@routes.Assets.versioned("/images/Check-icon.png")" height="12px" alt='G'/>
              } else {
                <img src="@routes.Assets.versioned("/images/Delete-icon.png")" height="12px" alt='B'/>
              }
              </td>
              <td style="text-align:center ;" class="tabshrink">#@testRun.number</td>
              <td class="tabexpandNoBorder">@if(testRun.job != null) {
                @visibilityTagFragment(testRun.visibility, testRun.runner)
                <a href="@controllers.routes.JobController.displayJob(testRun.job.id, true)">@testRun.job.name</a>

              }</td>
              <td align="center" valign="middle" class="tabshrink">
                <a href="/viewReport?testRunId=@testRun.id&type=pdf" title="View Report" class="celldiv" style="height:16px ; width:16px ;">
                  <img src="@routes.Assets.versioned("/images/pdf-2-64.png")" height="12px"/>
                </a>
              </td>
              <td align="center" valign="middle" class="tabshrink">
                <a href="/viewTestRunHistory?testRunId=@testRun.id" title="View Log" class="celldiv" style="height:16px ; width:16px ;">
                  <img src="@routes.Assets.versioned("/images/console-64.png")" height="12px"/>
                </a>
              </td>
            </tr>
          }
        }
      }
      </tbody>
    </table>

  </div>

</div>


<div style="display: none">
  <table>
    <tbody id="historyRowTemplate" >
      <tr class="$trclass" style="border:1px solid #eee ; border-radius: 2px">
        <td style="text-align:left ;" class="tabshrink">
   $image
        </td> <td style="text-align:center ;" class="tabshrink">#$testRunNumber</td>
        <td class="tabexpandNoBorder">
          <span class="$visibilityClass" title="$visibility" style="color:$visibilityColor ;">&nbsp; </span> &nbsp;
          <a href="/viewTestRunHistory?testRunId=$testRunId">$jobName</a></td>
        <td align="center" valign="middle" class="tabshrink">
          <a href="/viewReport?testRunId=$testRunId&type=pdf" title="View Report" class="celldiv" style="height:16px ; width:16px ;">
            <img src="@routes.Assets.versioned("/images/pdf-2-64.png")" height="12px"/>
          </a>
        </td>
        <td align="center" valign="middle" class="tabshrink">
          <a href="/viewTestRunHistory?testRunId=$testRunId" title="View Log" class="celldiv" style="height:16px ; width:16px ;">
            <img src="@routes.Assets.versioned("/images/console-64.png")" height="12px"/>
          </a></td></tr>
    </tbody>
  </table>

</div>