@import authentication._
@()(implicit authentication: Authentication, localUser: User)
<script>
    $(function () {
      new EventSource('@{controllers.routes.TestRunFeeder.jobHistoryFeed()}').onmessage =
          function (event) {
            updateSmallHistoryView()
          }
    });

    function updateSmallHistoryView() {
     ajaxRouteGet(jsRoutes.controllers.TestRunFeeder.jobHistorySM, 0, $("#smallHistoryDiv"),
     function(data){
       showError(data)
     })
    }

</script>

  @util.dialogs()

<div id="smallHistoryDiv">
@jobHistorySM(0)
</div>
