@import authentication._

@main("Job Queue", "jobQueue",
  Array(("Job Queue", controllers.routes.Application.jobQueue().path()))) {
  <script>
      $ ( function ( ) {
        var logfeed = $( "#logfeed" )[0];
        var logarea = $("#logarea")

        new EventSource ( '@controllers.routes.LogFeeder.logFeed()' ).onmessage = function ( event ) {
          var newd  = event.data
          logarea[0].textContent += "\n" + newd;
          console.log("Log " + event.data)
          logarea[0].scrollTop = logarea[0].scrollHeight;
        }
      });
  </script>

  <div style="position: absolute ; top:4px ; left:4px ; bottom:4px ; right:4px ; padding: 4px ;">
    <div style="position: absolute ; top:4px ; left:4px ; bottom:4px ; width:30% ; padding: 4px ; overflow:auto ;">
      @jobQueueFeed()
      <hr/>
      @jobHistoryFeed()
    </div>
    <div style="position: absolute ; top:4px ; left:31% ; bottom:4px ; right:4px ; padding: 4px ;">
      <h4>Log</h4>
      <textarea readonly="readonly" id="logarea"
      style="background-color:#faffe1 ; resize: none; font-family:monospace; height:calc(100% - 2em) ; width:100%; border:1px solid #ddeee6 ; border-radius:2px ; overflow:scroll">@LogFeeder.currentLogString(Authentication.getLocalUser)</textarea>
    </div>
  </div>
}