@import authentication._

@main("Job Queue", "jobQueue", "Test Monitor") {
  <script>
      $ ( function ( ) {
        var logfeed = $( "#logfeed" )[0];
        var logarea = $("#logarea")

        new EventSource ( '@controllers.routes.LogFeeder.logFeed()' ).onmessage = function ( event ) {
          var newd  = event.data
          logarea[0].textContent += "\n" + newd;
          console.log("Log " + event.data)
          logarea[0].scrollTop = logarea[0].scrollHeight;
        }
      });
  </script>

  <div style="position: absolute ; top:4px ; left:4px ; bottom:4px ; right:4px ; padding: 4px ;">

    <h3>Test Monitor</h3>
    <div class="row" style="height:100% ;">
      <div class="col-md-3">
        @jobQueueFeed()
        <hr/>
        @jobHistoryFeed()
      </div>

      <div class="panel panel-info col-md-9" style="height:100%;padding: 0px;">
        <div class="panel-heading">Log</div>
        <div class="panel-body zeropad" style="height:calc(100% - 2em);">

          <textarea readonly="readonly" id="logarea" class="lightMinderBlue"
          style="resize: none ; font-family:monospace ; height:calc(100% - 2em) ; width:100% ; border:1px solid #ddeee6 ; border-radius:2px ; overflow:scroll">@LogFeeder.currentLogString(Authentication.getLocalUser)</textarea>

        </div>
      </div>
    </div>
  </div>
}