@(testRun: TestRun, localUser: models.User = null)
@import views.html.util._

@main(Messages("minder.navigation.restricted.testdesigner"), "User History View") {
    @dialogs()
    <div  class="fullh">
    <table style="width:100%;" class="fullh" class="shaded">
    <tr>
        <th colspan="2" style="border-bottom: 1px solid #ccc;">
            Test Run Details
        </th>
    </tr>
    <tr>
      <td rowspan="3" style="vertical-align:text-top;padding: 10px;">
          <table class="shaded">
              @if(testRun.job!=null){
              <tr>
                  <th>Test Group</th><td>
                  <a href="/getGroupDetailView?id=@{testRun.job.tdl.testCase.testAssertion.testGroup.id}&display=assertions">
                    @{testRun.job.tdl.testCase.testAssertion.testGroup.name}
                  </a>
              </td>
              </tr>
              <tr>
                  <th>Test Assertion</th><td>
                  <a href="/getAssertionDetailView?id=@{testRun.job.tdl.testCase.testAssertion.id}">
                    @{testRun.job.tdl.testCase.testAssertion.taId}
                  </a>

              </td>
              </tr>
              <tr>
                  <th>Test Case</th><td>
                  <a href="/viewTestCase?id=@{testRun.job.tdl.testCase.id}&display=jobs">
                    @{testRun.job.tdl.testCase.name}
                  </a>
              </td>
              </tr>
              <tr>
                  <th>Job</th><td>
                  <a href="/viewJob?id=@{testRun.job.id}&showHistory=true">
                    @{testRun.job.name}</a>
                  </td>
              </tr>
              }
              <tr>
                  <th>User</th><td>@testRun.runner.email</td>
              </tr>
              <tr>
                  <th>Visibility</th><td>@util.renderVisibilityTag(testRun.visibility) @testRun.visibility</td>
              </tr>
              <tr>
                  <th>Date</th><td>@testRun.date</td>
              </tr>
          </table>
      </td>
        <td><div>
            @testRunVisualizer(testRun)
        </div>
        </td>
    </tr>
      <tr class="fullh">
          <td class="tipitip" style="height:99%;width:70%;">
              <label>Log</label>
              <div class="tipitip" style="height:100%;border:1px solid gray;border-radius:2px;overflow: scroll;">
                  <pre>@testRun.history.extractSystemOutputLog()</pre>
              </div>
          </td>
     </tr>
  </table>

</div>
}
