@(visibility: Visibility, owner: User, renderName: Boolean = false, renderEditLink: Boolean = false)
<span
  @visibility match {
    case Visibility.PUBLIC => {
      class="fa fa-globe"
    }
    case Visibility.PRIVATE => {
      class="fa fa-lock"
    }
    case Visibility.PROTECTED => {
      class="fa fa-group"
    }
  }

    title="@visibility" style="color: @visibility match {
    case Visibility.PUBLIC => {
      #1fc36d
    }
    case Visibility.PRIVATE => {
      red
    }
    case Visibility.PROTECTED => {
      #7cd8ff
    }
  }"
  ></span>

@if(renderName) {
  @visibility
}

@authentication.subjectIs(owner) {
  @if(renderEditLink) {
    &nbsp;<a href="#" style="text-decoration: none" onclick='changeTestRunVisibility()' class="fa fa-edit"></a>
  }
}