@import minderengine.Visibility
@import views.html.authentication._
@(visibility: Visibility, owner: User, renderName: Boolean = false, renderEditLink: Boolean = false)(implicit authentication: Authentication)

@visibilityClass = @{
  visibility match {
    case Visibility.PUBLIC => {
      "fa fa-globe"
    }
    case Visibility.PRIVATE => {
      "fa fa-lock"
    }
    case Visibility.PROTECTED => {
      "fa fa-group"
    }
    case _ => "fa fa-globe"
  }
}

@visibilityColor = @{
  visibility match {
    case Visibility.PUBLIC => {
      "#1fc36d"
    }
    case Visibility.PRIVATE => {
      "red"
    }
    case Visibility.PROTECTED => {
      "#7cd8ff"
    }
  }
}

<span class="@visibilityClass" title="@visibility" style="color: @visibilityColor"> </span>

@if(renderName) {
  @visibility
}

@subjectIs(owner) {
  @if(renderEditLink) {
      &nbsp;
    <a href="#" style="text-decoration: none" onclick='changeTestRunVisibility()' class="fa fa-edit"></a>
  }
}