@(jobSchedule: JobSchedule)

  @if(jobSchedule.nextJob != null) {
    @jobSchedule.nextJob.name <btn class="btn btn-info btn-xs" onclick='deleteNextJob(@jobSchedule.id)'><span class="fa fa-trash"></span>
      Remove</btn>
  } else {
    <btn class="btn btn-info btn-xs" onclick='setNextJob(@jobSchedule.id)'><span class="fa fa-plus"></span> Set Next Job</btn>
  }


  <script>

    function deleteNextJob(id) {
      jsRoutes.controllers.Scheduling.deleteNextJob(id).ajax({
        success: function (data) {
          $('#nextJobEditor').html(data)
        }
      })
    }


    function setNextJob() {

    }


  </script>

