<!-- Main layout -->
<div id="loginForm" style="border:1px solid gray ; position:absolute ; top:calc(50% - 95px) ; left:calc(50% - 200px) ; width:400px ; height:140px ;">
  <div class="w2ui-page page-0">
    <div class="w2ui-field">
      <label class="fa-user">Email:</label>
      <div>
        <input name="email" type="text" maxlength="100" style="width: 250px"/>
      </div>
    </div>
    <div class="w2ui-field">
      <label class="fa-key">Password:</label>
      <div>
        <input name="password" type="text" maxlength="100" style="width: 250px"/>
      </div>
    </div>
  </div>
  <div class="w2ui-buttons">
    <button class="btn" name="reset">Reset</button>
    <button class="btn" name="save">Save</button>
  </div>
</div>
<script>
  $(function(){
    Authentication.realmUrl = '@rest.controllers.routes.LoginController.login()' //as get
    Authentication.loginUrl = '@rest.controllers.routes.LoginController.doLogin()' //as post

    $("#loginForm").w2form({
      msgSaving: 'Please Wait...',
      name: 'loginForm',
      url: 'none',
      fields: [
        {field: 'email', type: 'text', required: true},
        {field: 'password', type: 'password', required: true},
      ],
      actions: {
        "save": function () {
          this.save();
        },
        "reset": function () {
          this.clear();
        },
      },
      onSubmit: function (event) {
        event.preventDefault()
        Authentication.authenticate(this.get('email').$el.val(), this.get('password').$el.val())
      }
    });
  })
</script>
