
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/ui2/layout.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/ui2/smallGridTestGroupList.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/ui2/mainToolbar.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/ui2/pathToolbar.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/ui2/userToolbar.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/ui2/layoutUpdate.js")"></script>

<body style="padding:0 ;">
    <!-- Main layout -->
  <div id="minder-main-layout" style="position:absolute ; top:1px ; left:1px ; width:calc(100% - 2px) ; height:calc(100% - 2px) ;"></div>
    <!-- top pane -->
  <div id="minder-top-panel">
    <table style="width:100% ;" class="w2ui-toolbar">
      <tr>
        <td style="width:100% ; vertical-align:bottom ;">
          <div id="minder-main-toolbar"></div>
        </td>
        <td>
          <div id="minder-user-toolbar"></div>
        </td>
          <!--
            <td rowspan="2">
              <div align="center" style="padding:5px ; border-left:1px solid lightgrey ;">
                <img src='routes.Assets.versioned("images/minder.png")' height="50" />
              </div>
            </td>
            -->
      </tr>
      <tr><td style="width:100% ; vertical-align:bottom ;">
        <div style="border-top: 1px solid lightgrey ;" id="minder-path-toolbar"></div></td>
      </tr></table>
  </div>
    <!-- left pane -->
  <div id="minder-left-panel">
    <div id="minder-testgrouplist-panel" style="width:100% ; height: 250px ;">
      </div>
  </div>
    <!-- left pane -->
  <div id="minder-right-panel">
      RP
  </div>

  <div id="workspace">
    <div id="intro" align="center" style="position: absolute ; top:37% ; left:0 ; width:100% ;">
      <span class="hugeintro">Minder</span>
    </div>
  </div>

  <script type="text/javascript">
        var pstyle = 'border: 1px solid #dfdfdf; padding: 0px;'
        $(function () {
          $('#minder-main-toolbar').w2toolbar(MainToolbar)
          $("#minder-user-toolbar").w2toolbar(UserToolbar)
          $('#minder-path-toolbar').w2toolbar(pathToolbar)
          $('#minder-testgrouplist-panel').w2grid(smallGridTestGroupList)
          $('#minder-main-layout').w2layout(mainLayout);
          layoutUpdate(w2ui.mainLayout, 'top', $('#minder-top-panel'))
          layoutUpdate(w2ui.mainLayout, 'right', $('#minder-right-panel'))
          layoutUpdate(w2ui.mainLayout, 'left', $('#minder-left-panel'))
          layoutUpdate(w2ui.mainLayout, 'main', $('#workspace'))

          //load the test group list

          RestUtil.restCall({
            async:false,
            type: 'GET',
            url: '@rest.controllers.routes.RestTestGroupController.listTestGroups()',
            success: function(data){
              smallGridTestGroupList.testGroupList = data.restTestGroups
            },
            error: function(data){
              w2alert(data.responseText)
              smallGridTestGroupList.testGroupList = null
            }
          })

          //w2ui.smallGridTestGroupList.clear()
          if (smallGridTestGroupList.testGroupList !== null){
            for (idx in smallGridTestGroupList.testGroupList){
              var group=smallGridTestGroupList.testGroupList[idx]
              w2ui.smallGridTestGroupList.add({ recid: group.id, fname: group.groupName })
            }
          }

          w2ui.mainLayout.refresh();
        });
    </script>
