@(display: String = "users")
@import views.html.util._

@import global.Util._

@main(Messages("minder.restricted.root"), "Root") {
    <h3 class="explanation"><img src="@routes.Assets.versioned("images/about-64.png")" height="24px"/></h3>
    <p>
        Welcome ROOT!. Wazzzzzup?
    </p>

    @dialogs()

    <div class="indent">
        <script>
                function showUsers(){
                    var obj = jsRoutes.controllers.UserController.listUsers;
                    ajaxRouteGet(obj,"users",$("#rootSubItems"))
                }
                function showSettings(){
                    ajaxRouteGet(jsRoutes.controllers.UserController.viewSettings,"settings",$("#rootSubItems"))
                }
        </script>

        @ajaxDisplaySelector(display,
            "users" ->("Users", "showUsers"),
            "settings" ->("Settings", "showSettings")
        )

        <div id="rootSubItems" style="padding: 4px;">

        </div>
    </div>


}
