<table>
    <tr>
        <td  style="vertical-align:text-top;"><br />
            <br />
            <br />

            <form action="@routes.SettingsController.updateSettings()" method="POST">
                <label>Slot Call,Signal Wait Timeout:</label> &nbsp;
                <input type="number" id="timeout" name="timeout"
                value="@minderengine.XoolaServer.properties.get("NETWORK_RESPONSE_TIMEOUT")" /> (ms)
                <br />
                <br />
                <br />
                <br />
                <br />
                <button type="submit">Update</button>
            </form>
        </td>
        <style>
        .settime{
        width:100px;
        }
        </style>
        <td  style="vertical-align:text-top;">
            <table>
                <br />
                <br />

                <tr><td><button type="button" class="settime">1 min</button><input type="hidden" value="60000" /></td>
                    <td><button type="button" class="settime">5 min</button><input type="hidden" value="300000"/></td>
                    <td><button type="button" class="settime">10 min</button><input type="hidden" value="600000"/></td>
                </tr>
                <tr><td><button type="button" class="settime">15 min</button><input type="hidden" value="900000"/></td>
                    <td><button type="button" class="settime">30 min</button><input type="hidden" value="1800000"/></td>
                    <td><button type="button" class="settime">1 hour</button><input type="hidden" value="3600000"/></td>
                </tr>
                <tr>
                    <td><button type="button" class="settime">5 hours</button><input type="hidden" value="18000000"/></td>
                    <td><button type="button" class="settime">10 hours</button><input type="hidden" value="36000000"/></td>
                    <td><button type="button" class="settime">1 day</button><input type="hidden" value="86400000"/></td>
                </tr>
            </table>

        </td>

        <script>
                        var timeout = $("#timeout")
                        $(".settime" ).click(function(){
                            timeout.val($(this).next( ).val())

                        })
                    </script>
    </tr>
</table>