@import java.util.concurrent.atomic.AtomicInteger

@import models.User
@import utils.Util._
@import views.html.util._

<script>
  $(function() {
    $( document ).tooltip();
  });
  </script>

@createLinkButton("/getUserEditorView", "Create New User")
<br/> <br/>
@defining(new AtomicInteger(1)) { index =>
  <table class="table table-hover table-striped">
    @createFirstRow {
      <th>Email</th>
      <th>Name</th>
      <th style="text-align: center;">Test Designer</th>
      <th style="text-align: center;">Test Developer</th>
      <th style="text-align: center;">Test Observer</th>
    }
    @for(user <- User.findAll) {
      <tr>
        <td>@index.getAndIncrement()</td> <td>@user.email</td> <td>@user.name</td>
        <td  style="text-align: center;font-size:larger;">@getBooleanTick(user.isTester)</td>
        <td  style="text-align: center;font-size:larger;">@getBooleanTick(user.isDeveloper)</td>
        <td  style="text-align: center;font-size:larger;">@getBooleanTick(user.isObserver)</td>
        <td>
          <table>
            <td>
          <div title="Edit" class="bevel2 celldiv" style="height:30px ; width:30px ; cursor:hand ;">
            <a href="@routes.UserController.editUserForm(user.id)"><img src="@routes.Assets.versioned("/images/edit_property-64.png")" height="16px" alt='@user.id'/></a>
          </div>
            </td>
          <td>
          </div>
          <div title="Delete" class="bevel2 celldiv" style="height:30px ; width:30px ; cursor:hand ;"
          onclick='deleteWithDialog("/doDeleteUser?id=@user.id", $("#dialog-confirm"), "Delete User", "user", "@user.email")'>
            <img src="@routes.Assets.versioned("/images/trash2-64.png")" height="16px" alt='@user.id'/>
          </div>
            </td>
          </table>
        </td>
      </tr>
    }

  </table>
}
