@(frm: Form[_], readonly: Boolean = true)

@import helper._
@implicitFieldConstructor = @{
  FieldConstructor(views.html.util.twitterBootstrapBasic.f)
}

@if(frm.hasGlobalErrors) {
  <p class="alert alert-danger">
  @frm.globalError.message
  </p>
}

@if(readonly) {
  @inputText(
    frm("name"),
    '_label -> "Adapter Name",
    'readonly -> "readonly"
  )
} else {

  @inputText(
    frm("name"),
    '_label -> "Adapter Name"
  )
}

@inputText(
  frm("shortDescription"),
  '_label -> "Short Description"
)

<input type="hidden" name="id" id="id" value='@frm("id").value' />
