
@()(implicit authentication: Authentication)
@main("About Minder", "", "") {
  <head>
    <title>About Minder - Start Testing Your System</title>
    <style>
        {
          height: 400px ;
          background: url(' @routes.Assets.versioned("/images/minder-logo-big.png") ') center center no-repeat scroll;
          -webkit-background-size: cover ;
          -moz-background-size: cover ;
          background-size: cover ;
          -o-background-size: cover ;
        }
    </style>
  </head>
  <body>
    <div class="container">

      <div class="featurette" id="intro">
        <div class="row">
          <div class="col-md-8">
            <h1 class="page-header" style="color: #337ab7">Minder
              <small>The Online Programmable Flow Control Engine</small>
            </h1>
            <p class="lead">
              Minder is a generic online programmable flow control engine that provides capability of interconnecting different systems in one node and enabling architects to perform complex communication operations on those interconnected systems.</p>
          </div>

          <div class="col-md-4">
            <br />
            <br />
            <br />
            <br />
            <img class="featurette-image img-square img-responsive img-center " width='450px' src='@routes.Assets.versioned("images/minder-2.jpg")' alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header" style="color: #337ab7">Version Info</h1>
          <p class="lead">The current version of Minder is @{
            utils.Util.getVersionInfo()
          }. Minder supports GITB service level compatibilty since V2.0-J15. The minder source code is hosted under the GitHub repository at <a href="https://github.com/mindertestbed">
            https://github.com/mindertestbed</a>.</p>
        </div>
      </div>
      <div class="featurette" id="team">
        <h1 class="page-header" style="color: #337ab7">Minder Team
        </h1>
        <p class="lead">
          Minder was developed as an open source project in eSENS to facilitate a sustainable and reusable conformance and interoperability testing. Further details available at <a href="https://joinup.ec.europa.eu/software/minder/description">
          https://joinup.ec.europa.eu/software/minder/description</a>.</p>
        <div class="row">
          <div class="col-sm-6 text-center">
            <h4>Muhammet Yildiz
            </h4>

            <p>myildiz83[at]gmail.com</p>
          </div>
          <div class="col-sm-6 text-center">
            <h4>Edona Fasllija
            </h4>
            <p>edona.fasllija[at]tubitak.gov.tr</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header" style="color: #337ab7"></h2>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <div align="center">
      <table style="text-align: center">
        <tr>
          <td style="padding-left: 15px ;
            padding-right: 15px ;">
            <a href="https://joinup.ec.europa.eu/software/minder/home"><img class="img-square img-responsive img-center" width='100px' src="@routes.Assets.versioned("images/joinup_logo.png")" alt=""></a>
          </td>
          <td style="padding-left: 15px ;
            padding-right: 15px ;">
            <a href="http://www.esens.eu">
              <img class="img-square img-responsive img-center" width='100px' src="@routes.Assets.versioned("images/e-sens_logo3.jpg")" alt="">
            </a>
          </td>
          <td style="padding-left: 15px ;
            padding-right: 15px ;">
            <a href="https://joinup.ec.europa.eu/software/minder/home"><img class="img-square img-responsive img-center" width='100px' src="@routes.Assets.versioned("images/GitHub_Logo1.png")" alt="">
            </a>
          </td>
        </tr>
      </table>
    </div>
  </footer>
}
