@(localUser: models.User = null)

@main(Messages("playauthenticate.navigation.testdesigner.createtestcase"), "createTestCase") {
    
    <h1>@Messages("playauthenticate.navigation.testdesigner.createtestcase")</h1>


<table>
<tr>
	<td>
	<h2 class="demoHeaders">Wrappers</h2>
	</td>
	
	<td>
	<h2 class="demoHeaders">Test Case Editor</h2>
	</td>
</tr>
<br>
<tr>
	<td>
	<div id="nav">
	<div>
		<div class="accordion" id="section1">Wrapper1<span></span></div>
			<div class="container">
		        <div class="content">
		            <div>Signals</div>
		            <p>Content here....</p>
		            <div>Slots</div>
		            <p>Content here....</p>
		        </div>
		    </div>
		</div>
		<div class="accordion" id="section2">Wrapper2<span></span></div>
			<div class="container">
		        <div class="content">
		            <div>Signals</div>
		            <p>Content here....</p>
		            <div>Slots</div>
		            <p>Content here....</p>
		        </div>
		    </div>
		</div>
	</div>
	</div>
	</td>
	
	<td>
	<div  id="sectionnav">  
		<article>
		    <form>
		         <textarea id="code" name="code" rows="50" cols="50" class="CodeMirror">
						 val rivet4 = "slot2(int, int, java.lang.String, byte [], byte [], java.util.Date)" of "wrapper2" shall(
						   //connect first two params from signal1 of wrapper2
						   use("signal1(int, int, java.lang.String)" of "wrapper2")(
							 mapping(
							   1 onto 1,
							   2 onto 2 using converter1)),
						   use("signal2(byte[], byte[], java.lang.String)" of "wrapper3")(
							 mapping(
							   3 onto 3,
							   1 onto 4 using converter1,
							   2 onto 5)),
						   map(val3 onto 6))
						   
						     <ul>
							    <li><a href="../../index.html">Home</a>
							    <li><a href="../../doc/manual.html">Manual</a>
							    <li><a href="https://github.com/codemirror/codemirror">Code</a>
							  </ul>
			     </textarea>
		     </form>
		
			<p>Press <strong>ctrl-space</strong> to activate autocompletion.</p>
		
		    <script>
		      var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
		        lineNumbers: true,
		        extraKeys: {"Ctrl-Space": "autocomplete"},
		        mode: {name: "xml", globalVars: true},
		        theme: "default"
		      });
		      
		    </script>
		  </article>
	</div>
	<td>
</tr>
</table>



<script>
$(document).ready(function() {
    $('.accordion').accordion({defaultOpen: 'some_id'}); //some_id section1 in demo
});
</script>
 }