@(localUser: models.User = null, frm: Form[_] = null)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@if(frm.hasGlobalErrors) {
<p class="alert alert-danger">
  @frm.globalError.message
</p>
}
@inputText(
frm("name"),
'_label -> "Test Group Name"
)

@inputText(
frm("shortDescription"),
'_label -> "Short Description"
)

@textarea(frm("description"), 'rows -> 5, '_label -> "Description")

<input type="hidden" name="id" id="id" value='@frm("id").value' />
