<div id="dialog-confirm" title="Delete Group?"  style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    The <span class="itemtype"></span> <b><span class="itemname"></span></b> will be deleted. Are you sure?</p>
</div>

<div id="mainDialog" title="main dialog" style="display:none" class="absofull">
  <form method="post" id="mainForm" style="height:100%;">
  </form>
</div>


<div id="mainDialog2" title="main dialog" style="display:none" class="absofull">
  <form method="post" id="mainForm2" style="height:100%;">
  </form>
</div>


<div id="mainDialog3" title="main dialog" style="display:none" class="absofull">
  <form method="post" id="mainForm3" style="height:100%;">
  </form>
</div>


<div id="errorDialog" title="Error" style="display:none">
</div>

<div id="updateInputTextDialog" title="Update Field" style="display:none">
  <input type="text" style="width:100%;" value=""/>
</div>

<div id="updateTextAreaDialog" title="Update Field" style="display:none">
  <textarea style="width:100%;height:100%;overflow:scroll;"></textarea>
</div>

<div id="updateOptionDialog" title="Update Field" style="display:none">
  <select style="width:100%;height:100%;overflow:scroll;"></select>
</div>
