@(tg: TestGroup, display: String = "assertions")

@import java.util.concurrent.atomic.AtomicInteger
@import global.Util._
@import authentication._
@import security.Role

@main(Messages("minder.navigation.restricted.testdesigner"), "restrictedTestDesigner") {

    @dialogs()

    <h2 style="display:table-cell">Test Group
        <div id="name@{tg.id}"
        @subjectIs(tg.owner) {
          onclick='showUpdateInputTextDialog(@tg.id, "name", $(this).next(), "/doEditGroupField")'
        }
          class="hl editable"></div>
        <input type="hidden" value="@tg.name"/>
        </h2>

    <br />

    <div class="indent">
        <h3>Owner</h3>
        <p>
            @tg.owner.name @tg.owner.email
        </p>

        <h3>Short Description</h3>
        <div id="shortDescription@{tg.id}"
          @subjectIs(tg.owner) {
            onclick='showUpdateInputTextDialog(@tg.id, "shortDescription", $(this).next(), "/doEditGroupField")'
          } class="editable"></div>
        <input type="hidden" value="@tg.shortDescription"/>

        <h3>Description</h3>
        <div id="description@{tg.id}"
          @subjectIs(tg.owner) {
            onclick='showUpdateTextAreaDialog(@tg.id, "description", $(this ).next(), "/doEditGroupField")'
          } class="editable"></div>
        <input type="hidden" value="@tg.description"/>

        <script>
        $(function(){
            bindValues($("#description@{tg.id}"))
            bindValues($("#name@{tg.id}"))
            bindValues($("#shortDescription@{tg.id}"))
        })
        </script>

        <hr />

        <table>
            <tr>
                <td style="width:10px;border-bottom:1px solid gray;">&nbsp;</td>
                <td class='@choose(display, "assertions") tabshrink'>
                    <h4>
                        <a href="/getGroupDetailView?id=@{tg.id}&display=assertions">Test Assertions</a>
                    </h4>
                </td>
                <td class='@choose(display, "suites") tabshrink'>
                    <h4>
                        <a href="/getGroupDetailView?id=@{tg.id}&display=suites">Test Suites</a>
                    </h4>
                </td>
                <td class="@choose(display, "assets") tabshrink">
                    <h4>
                        <a href="/getGroupDetailView?id=@{tg.id}&display=assets">Test Assets</a></h4>
                </td>

                <td class="@choose(display, "utils") tabshrink">
                    <h4>
                        <a href="/getGroupDetailView?id=@{tg.id}&display=utils">Utility Classes</a></h4>
                </td>

                <td class="@choose(display, "dependencies") tabshrink">
                    <h4>
                        <a href="/getGroupDetailView?id=@{tg.id}&display=dependencies">Dependencies</a></h4>
                </td>


                <td class="tabexpand">&nbsp;</td>
            </tr>
        </table>


        <br />

        @display match {
            case "assertions" => {

                @if(tg.testAssertions.size() == 0){
                    <p>No Test assertions yet</p>
                    @createButton("/getCreateAssertionEditorView?groupId="+tg.id, Messages("restrictedTestPage.createTestAssertion"))
                } else {
                <table class="shaded">
                    @createFirstRow {
                        <th>Test Assertion Id</th>
                        <th>Short Description</th>
                        <th>Author</th>
                    }
                    @defining(new AtomicInteger(1)) {index =>
                        @for(ta <- TestAssertion.findByGroup(tg)) {
                            <tr>
                                <td>@index.getAndIncrement()</td><td><a href="/getAssertionDetailView?id=@ta.id">@ta.taId</a></td> <td>@ta.shortDescription</td>
                                <td>@ta.owner.email</td>
                                <td>
                                    <div title="Delete" class="bevel2 celldiv" style="height:30px;width:30px;cursor:hand;"
                                    onclick='deleteWithDialog2("/doDeleteAssertion?id=@ta.id", $("#dialog-confirm"), "Delete Test Assertion", "test assertion", "@ta.taId")'>
                                        <img src="@routes.Assets.at("/images/trash2-64.png")" height="16px" alt='@ta.id'/>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                    @createLastRow(3){
                        @createButton("/getCreateAssertionEditorView?groupId="+tg.id, Messages("restrictedTestPage.createTestAssertion"))
                    }
                </table>
                }
            }
            case "suites" => {
                @testSuite.testSuiteLister(tg)
            }
            case "assets" => {
                @testAssetLister(tg)
            }
            case "utils" => {
                @testGroupUtilClassLister(tg)
            }
            case "dependencies" => {
                <div class="indent">
                    <div id="dependencies@{tg.id}" onclick='showUpdateTextAreaDialog(@tg.id, "dependencyString", $(this ).next(), "/doEditGroupField")' class="editable"></div>
                    <input type="hidden" value="@tg.dependencyString"/>
                </div>


                <script>
                    $(function(){
                        bindValues($("#dependencies@{tg.id}"))
                    });
                </script>

            }

        }
    </div>

}