@(tg: TestGroup, localUser: models.User = null)
@import java.util.concurrent.atomic.AtomicInteger


@main(Messages("playauthenticate.navigation.restricted.testdesigner"), "restrictedTestDesigner") {

    @dialogs()

    <h2>Test Group <span class="hl">@{
        tg.name
    }</span></h2>

    <div class="indent">
        <h3>Owner</h3>
        <p>
            @tg.owner.firstName @tg.owner.email
        </p>

        <h3>Short Description</h3>
        <p>
        @tg.shortDescription
        </p>

        @if(tg.description != null && tg.description.length > 0) {
            <h3>Description</h3>
            <p>
            @tg.description
            </p>
        }
        <hr />
        <h3>Test Assertions</h3>
        @if(tg.testAssertions.size() == 0){
            <p>No Test assertions yet</p>
            @createButton("/getCreateAssertionEditorView?groupId="+tg.id, Messages("restrictedTestPage.createTestAssertion"))
        } else {
        <table class="shaded">
            @createFirstRow {
                <th>Test Assertion Id</th>
                <th>Short Description</th>
                <th>Author</th>
            }
            @defining(new AtomicInteger(1)) {index =>
                @for(ta <- tg.testAssertions) {
                    <tr>
                        <td>@index.getAndIncrement()</td><td><a href="/getAssertionDetailView?id=@ta.id">@ta.taId</a></td> <td>@ta.shortDescription</td>
                        <td>@ta.owner.email</td>
                        <td>
                            <div title="Delete" class="bevel2 celldiv" style="height:30px;width:30px;cursor:hand;"
                            onclick='deleteWithDialog2("/doDeleteAssertion?id=@ta.id", $("#dialog-confirm"), "Delete Test Assertion", "test assertion", "@ta.taId")'>
                                <img src="@routes.Assets.at("/images/trash2-64.png")" height="16px" alt='@ta.id'/>
                            </div>
                        </td>
                    </tr>
                }
            }

            @createLastRow(3){
                @createButton("/getCreateAssertionEditorView?groupId="+tg.id, Messages("restrictedTestPage.createTestAssertion"))
            }
        </table>
        }
    </div>

}