@(job: Job, showHistory: Boolean = true, localUser: models.User = null)
    @main(Messages("playauthenticate.navigation.restricted.testdesigner"), "restrictedTestDesigner") {
        @dialogs()

        <script>
        $ ( function ( ) {
            new EventSource ( '/wrapperStatusFeed?id=@job.id' ).onmessage = function ( event ) {
                var kk = JSON.parse ( event.data )
                if ( kk.online == true ) {
                    $ ( "span.onStatus" + kk.id ).show ( )
                    $ ( "span.offStatus" + kk.id ).hide ( )
                } else {
                    $ ( "span.onStatus" + kk.id ).hide ( )
                    $ ( "span.offStatus" + kk.id ).show ( )
                }
            }
        });
        </script>
            <h2>Job <span class="hl">@{job.name}</span></h2>

            <table style="width:100%;"><tr><td style="vertical-align:text-top;padding:10px;" >
            <div class="indent">
                    <table class="section"><tr><td>
                <h3>Test Case Details</h3>
                    <table class="shaded">
                        <tr>
                            <th>Test Group:</th>
                            <td>
                                <a href="/getGroupDetailView?id=@{job.testCase.testAssertion.testGroup.id}">
                                @job.testCase.testAssertion.testGroup.name
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>Test Assertion:</th>
                            <td>
                                <a href="/getAssertionDetailView?id=@{job.testCase.testAssertion.id}">
                                @job.testCase.testAssertion.taId
                                </a>
                            </td>
                        </tr>
                        <tr><th>Test Case:</th>
                            <td>
                                <a href="/viewTestCase?id=@{job.testCase.id}&showJobs=true">
                                @job.testCase.name
                                </a>
                            </td>
                        </tr>
                    </table>
                    </td><td>
                <h3>Wrapper Mappings</h3>
                    <table class="shaded">
                        <tr><th>Variable</th><th>Actual Wrapper</th><th>Status</th></tr>
                        @defining(job.mappedWrappers) { lst =>
                            @for(mw <- job.mappedWrappers) {
                                <tr>
                                    <td>@mw.parameter.name</td><td>@mw.wrapper.name</td>
                                    <td align="center">
                                    <span class="onStatus@{mw.wrapper.id}" style="display:none" class="bignobold online"> <img src="@routes.Assets.at("/images/Pc_Online.png")"/></span>
                                    <span class="offStatus@{mw.wrapper.id}" style="display:none" class="bignobold offline"> <img src="@routes.Assets.at("/images/Pc_Offline.png")"/></span>
                                </td></tr>
                            }
                        }
                    </table>
                    </td></tr></table>
                <hr/>
            </div>

        <div class="indent">
            <table  class="section"><tr><td>
                <button id="enqueue" type="button" onclick='simpleAjaxGet("mainDialog", "/enqueueJob?id=@{job.id}", "Enqueue Job", "Enqueue job [@{job.name}]?")'>
                    Enqueue Job <img src="@routes.Assets.at("/images/running-64.png")" height="16px"/>
                </button>
                <button type="button" onclick='window.location="/restrictedTestDesigner?display=jobQueue"'>
                    Show Running Jobs <img src="@routes.Assets.at("/images/rules-64.png")" height="16px"/>
                </button></td></tr>
            </table>
        </div>

        <table class="section fullw" style="margin-top:2px;">
                <tr>
                    <td>
                        @testRunLister(job.id)
                    </td>
                </tr>
            </table>
            </td><td style="vertical-align:text-top;border-left:1px solid #ccc;width:25%;padding:10px;">
                <h3>Job Queue</h3>
            @jobQueueFeed(localUser)
            </td></tr></table>
    }
