@import java.util.concurrent.atomic.AtomicInteger


<label>Job History</label>

    <br />

<div>
    <table  class="padabit">
        @defining(TestRun.getRecentRuns(40)){ testRunList =>
            @for(testRun <- testRunList){
                <tr class="@if(testRun.success){goodTestRun} else {badTestRun}" style="border:1px solid #eee;border-radius: 2px">
                    <td style="text-align:left;" class="tabshrink">
                    @if(testRun.success){
                        <img src="@routes.Assets.at("/images/Check-icon.png")" height="12px" alt='G'/>
                    } else {
                        <img src="@routes.Assets.at("/images/Delete-icon.png")" height="12px" alt='B'/>
                    }
                    </td>
                    <td style="text-align:center;" class="tabshrink">#@testRun.number</td>
                    <td class="tabexpandNoBorder">@if(testRun.job!=null){
                        <a href="/viewJob?id=@{testRun.job.id}&showHistory=true">
                        @testRun.job.name</a>
                    }</td>
                    <td align="center" valign="middle" class="tabshrink">
                        <a href="/viewTestRunHistory?testRunId=@testRun.id" title="View Log" class="celldiv" style="height:16px;width:16px;">
                            <img src="@routes.Assets.at("/images/console-64.png")" height="12px"/>
                        </a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
