@import java.util.concurrent.atomic.AtomicInteger

<div id="canceldiv" style="display:none">

</div>

<label>Job Queue</label>

@defining(TestEngineController.activeRunContext){ activeRunContext =>
    @if(activeRunContext != null){
        <div class="fullw" style="padding:10px;">
            <div class="fullw bevel2" style="padding:10px;"
            title="@activeRunContext.job.id
@activeRunContext.job.name
@activeRunContext.testRun.runner.email
@activeRunContext.progressPercent">
                <a href="/viewJob?id=@{activeRunContext.job.id}&showHistory=true" title="View Job">
                <span class="title">@activeRunContext.job.name</span>
                </a>
                <table class="fullw"><tr><td>
                    <div style="border:1px solid gray;background-color:white;height:14px;width:100%;padding:0">
                        <div style="background-color:lightgreen;height:12px;width:@{activeRunContext.progressPercent}%;margin:0">&nbsp;</div>
                    </div></td><td style="width:20px;vertical-align:text-top;">
                        &nbsp; <span title='Cancel "@activeRunContext.job.name"' style="cursor:hand" onclick='ajaxCancelActiveJob("@{activeRunContext.job.name}")'><img src="@routes.Assets.at("/images/Delete-icon.png")" height="12px"/></span>
                </td></tr></table>
            </div>
        </div>
    }
}

@defining(TestEngineController.jobQueue) { queue =>
@if(queue.isEmpty){
    <br />
    <span class="title" style="color:#d3d3d3">EMPTY</span>
} else {
    <table class="fullw">
        @defining(new AtomicInteger(0)){ index =>
        @for(k <- queue) {
            <tr>
                <td>
                    <div class="fullw" style="padding:5px;padding-left:10px;padding-right:10px;">
                        <div class="fullw bevel2" style="padding:10px;"
                        title="@k.job.id
@k.job.name
@k.testRun.runner.email">
                            <a href="/viewJob?id=@{
                                k.job.id
                            }&showHistory=true" title="View Job">
                                <span class="title">@k.job.name</span>
                            </a>
                            <table class="fullw"><tr><td>
                                <div style="border:1px solid #ccc;background-color:white;height:14px;width:100%; padding:0">
                                    <div style="background-color:lightgreen;height:12px;width:0%;margin:0">&nbsp;</div>
                                </div></td><td style="width:20px;vertical-align:text-top;">
                                    &nbsp; <span title='Cancel "@k.job.name"' style="cursor:hand" onclick='ajaxCancelJob(@{index.getAndIncrement}, "@{k.job.name}")'><img src="@routes.Assets.at("/images/Delete-icon.png")" height="12px"/></span>
                            </td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        } <!-- for -->
        </table>
    } <!-- defining -->
} <!-- if -->
} <!-- defining -->
