@(title: String, nav: String = "")(content: Html)

@import authentication._

<!DOCTYPE html>

    <html lang="@lang().code()">
        <head>
            <title>@title</title>

            @main_header()
        </head>

        <body style="height:100%;">
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
                <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@routes.Application.index()">MiNDER</a>
                    </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="@("active".when(nav == "restrictedTestDesigner"))"><a href="@routes.Application.restrictedTestDesigner()">@Messages("minder.navigation.restricted.testdesigner")</a></li>
                            <li class="@("active".when(nav == "restrictedTestDeveloper"))"><a href="@routes.Application.restrictedTestDeveloper()">@Messages("minder.navigation.restricted.testdeveloper")</a></li>
                            <li class="@("active".when(nav == "restrictedObserver"))"><a href="@routes.Application.restrictedObserver()">@Messages("minder.navigation.restricted.observer")</a></li>

                            @defining(Authentication.getLocalUser(session())) { user =>
                                    @if(user!=null&&user.email=="root@minder") {
                                        <li class="@("active".when(nav == "root"))"><a href="@routes.Application.root()">@Messages("authenticate.root")</a></li>
                                    }
                            }
                            <!--
                            @subjectNotPresent {
                                SIGNUP DISABLED
                            } -->
                        </ul>

                        @subjectPresentOr{
                            <ul class="nav navbar-nav navbar-right">
                            @defining(Authentication.getLocalUser(session())) { user =>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-user"></i>@user.name <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class="@("active".when(nav == "profile"))"><a href="@routes.Application.profile()">@Messages("authenticate.profile")</a></li>
                                        <li class="divider"></li>
                                        <li><a href="@routes.Authentication.doLogout()"><i class="icon-off"></i> @Messages("authenticate.logout")</a></li>
                                    </ul>
                                </li>
                            }
                            </ul>
                        } {
                            <a href="@routes.Authentication.login()" class=" navbar-right btn btn-default navbar-btn @("disabled".when(nav == "login"))">@Messages("authenticate.login")</a>
                        }

                    </div> <!-- /.navbar-collapse -->
                </div> <!-- /.container-fluid -->
            </nav>

            <div style="height:80%; padding-left:10px ; padding-right:10px;">
                @if(flash.contains(Authentication.FLASH_ERROR_KEY)) {
                    <div class="alert alert-danger" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                            Close</span></button>
                        @flash().get(Authentication.FLASH_ERROR_KEY)
                    </div>
                }
                @if(flash.contains(Authentication.FLASH_MESSAGE_KEY)) {
                    <div class="alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                            Close</span></button>
                        @flash().get(Authentication.FLASH_MESSAGE_KEY)
                    </div>
                }

                <br />
                <br />
                <br />
                <br />
                @content
            </div> <!-- /container -->
            <footer style="position:fixed;top:95%;left:0;width:100%;height:5px;">
                <table style="width:97%;"><tr><td style="text-align:right; font-size:8px;">&copy;
                    eSENS 2015, <a href="http://icons8.com">Icon pack by Icons8</a></td>
                </tr>
                </table>
            </footer>
        </body>
    </html>
