<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
<script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/minder.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/updater.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/spin.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/Pager.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/DataTable.js")"></script>
<script type="text/javascript" src="@routes.JSRoutes.jsRoutes()"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500,700,800' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/SVGDrawingUtils.js")"></script>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome/css/font-awesome.min.css")">
<link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery-ui.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery-ui.structure.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery-ui.theme.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/oldui.css")">

<style>
html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

</style>
