<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
<script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/codemirror.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/active-line.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/dialog.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/searchcursor.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/search.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/annotatescrollbar.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/matchesonscrollbar.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/show-hint.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/clike.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/javascript-hint.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/minder.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/updater.js")"></script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/spin.min.js")"></script>
<script type="text/javascript" src="@routes.Application.jsRoutes()"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500,700,800' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/SVGDrawingUtils.js")"></script>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/font-awesome/font-awesome.min.css")">
<link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/codemirror.css")" >
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/show-hint.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/dialog.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/matchesonscrollbar.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery-ui.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery-ui.structure.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery-ui.theme.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/3024-day.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/3024-night.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/ambiance.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/base16-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/base16-light.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/blackboard.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/cobalt.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/eclipse.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/elegant.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/erlang-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/lesser-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/mbo.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/mdn-like.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/midnight.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/monokai.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/neat.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/neo.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/night.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/paraiso-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/paraiso-light.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/pastel-on-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/rubyblue.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/solarized.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/the-matrix.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/tomorrow-night-eighties.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/twilight.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/vibrant-ink.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/xq-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/theme/xq-light.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/oldui.css")">

<style>
html, body {
height : 100%;
padding : 0px;
margin : 0px;
}

.ui-accordion.ui-accordion-content {
padding : 10px;
}

.ui-tabs-panel.ui-tabs {
padding : 5px;
}

.ui-tabs.ui-tabs-panel {
padding : 5px;
}

.demoHeaders {
margin-top : 2em;
}
#dialog-link {
padding :.4em 1em .4em 20px ;
text-decoration : none ;
position : relative ;
}
#dialog-link span.ui-icon {
margin : 0 5px 0 0 ;
position : absolute ;
left :.2em ;
top : 50% ;
margin-top : -8px;
}
#icons {
margin : 0 ;
padding : 0 ;
}
#icons li {
margin: 2px;
position: relative ;
padding: 4px 0;
cursor: pointer;
float: left;
list-style: none;
}
#icons span.ui-icon {
float: left;
margin: 0 4px;
}
.fakewindowcontain.ui-widget-overlay {
position:absolute;
}
select {
width : 200px;
}
</style>

<script>
$ ( function ( ) {
$ ( ".explanation" ).click ( function ( ) {
$ ( this ).next ( ).slideToggle ( ) ;
} ) ;
$ ( ".explanation + p" ).hide ( ) ;
} ) ;
</script>
