@(localUser: models.User = null)

@main(Messages("playauthenticate.navigation.restricted.testdesigner"), "restrictedTestDesigner") {
<h3>@Messages("playauthenticate.navigation.restricted.testdesigner")</h3>
<p>
    @Messages("playauthenticate.restricted.testdesigner")
</p>


<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>

<div id="tabs" style="height:100%;">
    <ul>
        <li><a href="#tabs-1">Test Editor</a></li>
        <li><a href="#tabs-2">Test Runner</a></li>
    </ul>
    <div id="tabs-1" style="height:100%;">
        @createTestCase()
    </div>
    <div id="tabs-2" style="height:100%;">
        @testCaseLister()
    </div>
</div>
}
