@(localUser: models.User = null, display: String = "testGroups")

  @getClas(value: String, expected: String) = @{
    if(value == expected) "activetab"
    else "passivetab"
  }

@main(Messages("playauthenticate.navigation.restricted.testdesigner"), "restrictedTestDesigner") {

  @dialogs()
  <!--
<h3 class="explanation"><img src=" @routes.Assets.at("/images/about-64.png")
  " height="24px"/></h3>
  <p>
  @Messages("playauthenticate.restricted.testdesigner")
  </p>
  -->

  <table>
    <tr>
      <td class='@getClas(display, "testGroups")'>
        <h4>
          <a href="/restrictedTestDesigner?display=testGroups">Test Groups</a>
        </h4>
      </td>
      <td class="@getClas(display, "testAssets")">
        <h4>
          <a href="/restrictedTestDesigner?display=testAssets">Test Assets</a>
        </h4>
      </td>
      <td class="@getClas(display, "designWithGui")">
        <h4>
          <a href="/restrictedTestDesigner?display=designWithGui">Design With GUI</a></h4>
      </td>
    </tr>
  </table>

  <div class="fullw" style="border-top: 1px solid gray; padding: 10px;">
  @display match {
    case "testGroups" => {
      @testManager(localUser)
    }
    case "testAssets" => {
      @testAssetLister(localUser)
    }
    case _ => {
      @testDesignWithGUI(localUser)
    }
  }
  </div>

}
