@(testCase: TestCase, localUser: models.User = null)

<script>
  $(".differ2").each(function(index){
    $(this).addClass('vary2' + (index % 2));
  });


</script>

 <script>
  $(function() {
    $( document ).tooltip();
  });
  </script>

<div id="runDialog" style="display:none;">
</div>

<div id="rcRoot@testCase.id">
  <table style="width: 100%;">
    <tr style="border-bottom: 1px solid gray;height:1px;">
      <td align="center" style="width:80%;"><h5>Run Configurations</h5></td>
    </tr>
    <tr>
      <td align="left">
        <table class="fullw" cellpadding="5" align="left">
          @for(configuration <- RunConfiguration.findByTestCase(testCase)){
          <tr class="differ2" style="height:25px;">
            <td style="width:3%;" align="center" valign="middle">
              <div onclick="displayRunConfiguration(@configuration.id, '@configuration.name', '@Application.getLocalUser(session()).id')">
                <img src="@routes.Assets.at("/images/running-64.png")" height="16px"/>
              </div>
            </td>
            <td onclick="displayRunConfiguration(@configuration.id, '@configuration.name', '@Application.getLocalUser(session()).id')">
              @configuration.name
            </td>
            <td style="width:3%;" align="center" valign="middle">
              <div id="listTestRuns@configuration.id" class="celldiv bevel2" style="height:26px;width:26px;">
                <img src="@routes.Assets.at("/images/rules-64.png")" height="16px" alt='@testCase.id'/>
              </div>
              <script>
		              createFormDialog($("#listTestRuns@configuration.id"),
		              "/listTestRunsForm?configurationId=@configuration.id" ,
		              "/doListTestRuns", "mainDialog", "List Test Runs", $("#root@testCase.id").parent(),'1200', '720')


              </script>
            </td>
            <td style="width:15px">&nbsp</td>
            <td style="width:3%;" align="center" valign="middle" title = "Edit"
                onclick="editRunConfiguration(@testCase.id, @configuration.id, '@configuration.name')">
              <img src="@routes.Assets.at("/images/edit_property-64.png")" height="16px"/>
            </td>
            <td style="width:5px">&nbsp</td>
            <td onclick="deleteRunConfiguration(@testCase.id, @configuration.id, '@configuration.name')"
            title = "Delete"
                style="width:3%;"
                align="center" valign="middle">
              <img src="@routes.Assets.at("/images/trash2-64.png")" height="16px"/>
            </td>
          </tr>
          }
          <tr>
            <td colspan="7">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="7">
              <div class='title styledtitleinverse fullw hand create bevel2' style='margin:0;' align='center'>
                <table>
                  <tr>
                    <td>
                      <table class="fullw">
                        <tr>
                          <td onclick='createRunConfiguration(@testCase.id)'
                              style='height:23px;vertical-align:top; text-align:right;'>
                            <img src="@routes.Assets.at("/images/plus-64.png")" height="16px" />
                          </td>
                          <td onclick='createRunConfiguration(@testCase.id)' style='height:23px;'>
                            @Messages("restrictedTestPage.createRunConfiguration")
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>