@(frm: Form[_], localUser: models.User = null, editMode : Boolean = true)

@import helper._


@implicitFieldConstructor = @{
  FieldConstructor(myInput.f)
}


@main(Messages("playauthenticate.navigation.restricted.testdesigner"), "restrictedTestDesigner") {

  @dialogs()

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/3024-day.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/3024-night.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/ambiance.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/base16-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/base16-light.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/blackboard.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/cobalt.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/eclipse.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/elegant.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/erlang-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/lesser-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/mbo.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/mdn-like.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/midnight.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/monokai.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/neat.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/neo.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/night.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/paraiso-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/paraiso-light.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/pastel-on-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/rubyblue.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/solarized.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/the-matrix.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/tomorrow-night-eighties.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/twilight.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/vibrant-ink.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/xq-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/xq-light.css")" rel="stylesheet">

<style>
  #accordion1 {
  height: 100%;
  overflow:scroll;
  }

  .myscroll{
  overflow:scroll;
  width:100%;

  background: rgb(200,230,255);
  }


</style>

<script>

$(function() {
  minderAccordion("#accordion1");
	var textArea = document.getElementById("tdl");
  var editor = CodeMirror.fromTextArea(textArea, {
      lineNumbers: true,
      lineWrapping: true,
      styleActiveLine: true,
      viewportMargin: Infinity,
      extraKeys: {"Ctrl-Space": "autocomplete"},
      mode: {name: "text/x-scala", globalVars: true},
      theme: "ambiance"
  });

    // store it
    $("#tdl").data('CodeMirrorInstance', editor);

    editor.on("change", function(cm, change) {
      textArea.value = editor.getDoc().getValue();
    });

    $( "#select" ).change(function() {
        $( "#select option:selected" ).each(function() {
           editor.setOption("theme", $( this ).text());
        });

    });

    document.onkeydown = function(event){
      if (event.which == 27){
        $("#wrappersDiv" ).hide();
      $ ( "#funcdiv" ).hide ( ) ;
      }
    };
  });
</script>

  <h2>New Test Case</h2>
  <br />
  @defining(if(editMode == false) {routes.TestCaseController.doCreateCase()} else {routes.TestCaseController.doEditCase()}){ act =>
  @helper.form(action = act , 'class -> "fullh") {
    <div id="contentPane" style="width:100%;height:94%;margin:0;padding:20px;">
  <table style="width:100%;height:100%;">
    <tr>
      <td style="vertical-align: text-top;">
        <div class="bevel2" style="padding: 10px;">
        <label>Name</label>
        @if(editMode){
          <div class="fcborder">@frm("name").value</div>
          <input type="hidden" name="name" id="name" value='@frm("name").value'/>
        } else {
          @inputText(
            frm("name"),
            '_label -> "Name")
        }

        <label>Short Description</label>
        @if(editMode){
          <div class="fcborder">@frm("shortDescription").value</div>
          <input type="hidden" name="shortDescription" id="shortDescription" value='@frm("shortDescription").value'/>
        } else {
          @inputText(
            frm("shortDescription"),
            '_label -> "Short Description"
          )
        }
          </div>
      </td>
      <tr />
    <tr>
      <td class="maxwh" style="vertical-align:text-top;">
        <div class="bevel2 fullw fullh">
          <div style="padding: 10px;">
            <button type="submit">Save</button>&nbsp;
            <button type="reset">Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" onclick="history.back ( )">Cancel</button></div>

          <div class="fcborder fullh"> <label>Tdl</label><br/>
            @if(frm.hasGlobalErrors) {
              <p id="error" class="alert alert-danger" style='font-family:"Monaco", "Courier New", "monospace"'></p>
              <xmp id="source" style="display: none">@frm.globalError.message</xmp>

              <script>
                $(function(){
                  var newd  = $("#source" ).text()
                  newd = newd.split(/\n/g).join("<br/>");
                  newd = newd.replace(/ /g, '&nbsp;')
                  $("#error")[0 ].innerHTML = newd;
                });
              </script>
            }<br />


            <button onclick='$("#wrappersDiv").show();' type="button">Insert Reference</button>
              &nbsp;
            <button onclick='$ ( "#funcdiv" ).show( );' type="button">Insert Converter</button>
              &nbsp;&nbsp;&nbsp;&nbsp;
            Theme: <select id="select">
            <option>default</option>
            <option>3024-day</option>
            <option>3024-night</option>
            <option selected>ambiance</option>
            <option>base16-dark</option>
            <option>base16-light</option>
            <option>blackboard</option>
            <option>cobalt</option>
            <option>eclipse</option>
            <option>elegant</option>
            <option>erlang-dark</option>
            <option>lesser-dark</option>
            <option>mbo</option>
            <option>mdn-like</option>
            <option>midnight</option>
            <option>monokai</option>
            <option>neat</option>
            <option>neo</option>
            <option>night</option>
            <option>paraiso-dark</option>
            <option>paraiso-light</option>
            <option>pastel-on-dark</option>
            <option>rubyblue</option>
            <option>solarized dark</option>
            <option>solarized light</option>
            <option>the-matrix</option>
            <option>tomorrow-night-eighties</option>
            <option>twilight</option>
            <option>vibrant-ink</option>
            <option>xq-dark</option>
            <option>xq-light</option>
          </select>
            @inputText(
              frm("version"),
              '_label -> "Version")
          <br />
          <!-- xtarea(frm("source"), 'class -> "CodeMirror ") -->
            <textarea id="tdl" name="tdl" class = "CodeMirror">@frm("tdl").value </textarea>
              @defining(if(frm("tdl").value == null){""}else{frm("tdl").value}){ str =>
                @defining(str.toString.split("\\\n").length) { len =>
                    <script>
                      $(function(){
                        var editor = $("#tdl").data('CodeMirrorInstance');

                        var nls = "";
                        for(i = @len; i < 20; i++){
                          nls += "\n"
                        }

                        editor.replaceRange(nls, CodeMirror.Pos(editor.lastLine()))
                    });
                    </script>
                  }
              }

          </div>
        </div>
      </td>
    </tr>
  </table>

</div>

    <div class="bevel2" style="z-index:10000000;position:fixed;width:60%;height:60%;top:20%;left:20%;display:none;overflow:scroll;border:1px solid gray;background-color:#ffffff" id="wrappersDiv">
      <div id="accordion1" class="fullh">
      @defining(Wrapper.getAll()){ allWrappers =>
        @for(currentWrapper <- allWrappers){
          @defining(WrapperVersion.latestByWrapper(currentWrapper)){ lastVersion =>
          <div class="title bevelsmall"><b class="trigger">@currentWrapper.name</b></div>
          <div class="content" style="height:95%">
            <div class="myscroll" style="overflow:auto;">
              <div><b>Signals</b></div>
              <div style="overflow:scroll"> <ul>
              @for(currentSignal <- lastVersion.signals){
                <li id="signal@lastVersion.id-@currentSignal.id">- @currentSignal.signature</li>
                <script>
                $("#signal@lastVersion.id-@currentSignal.id").click(function(){
                // get it
                var editor = $("#tdl").data('CodeMirrorInstance');
                // from here on the API functions are available to 'myInstance' again.
                var start_cursor = editor.getCursor();
                var cursorLine = start_cursor.line;
                var cursorCh = start_cursor.ch;
                editor.replaceRange("\"@currentSignal.signature\" of \"@currentWrapper.name\"", start_cursor);
                $("#wrappersDiv" ).hide();
                });

                </script>
              }
              </ul></div>
                &nbsp;
              <div><b>Slots</b></div>
              <div style="overflow:scroll">
                <ul>
                @for(currentSlot <- lastVersion.slots){
                  <li id="slot@lastVersion.id-@currentSlot.id">- @currentSlot.signature</li>
                  <script>
                  $("#slot@lastVersion.id-@currentSlot.id").click(function(){
                  // get it
                  var editor = $("#tdl").data('CodeMirrorInstance');
                  // from here on the API functions are available to 'myInstance' again.
                  var start_cursor = editor.getCursor();
                  var cursorLine = start_cursor.line;
                  var cursorCh = start_cursor.ch;
                  editor.replaceRange("\"@currentSlot.signature\" of \"@currentWrapper.name\"", start_cursor);
                  $("#wrappersDiv" ).hide();
                  });

                  </script>
                }
                </ul></div>
            </div>
          </div>
          }
        }
      }
      </div>
    </div>


    <div class="bevel2" style="z-index:10000000;position:fixed;width:30%;height:20%;padding:20px;top:40%;left:35%;display:none;overflow:scroll;border:1px solid gray;background-color:#ffffff" id="funcdiv">

      <h3>Create New Converter</h3>

      <label for="converterName">Converter Name</label>
      <input type="text" id="converterName" class="fullw fcborder"/>
      <br />

      <script>
        function addConverter() {
        // get it
        var editor = $ ( "#tdl" ).data ( 'CodeMirrorInstance' ) ;
        // from here on the API functions are available to 'myInstance' again.
        var start_cursor = editor.getCursor ( ) ;
        var cursorLine = start_cursor.line ;
        var cursorCh = start_cursor.ch ;
        editor.replaceRange ( "def " + $ ( "#converterName" ).val() + "(input: Any) : Any ={\n\n}", start_cursor ) ;
        $ ( "#funcdiv" ).hide ( ) ;
        $ ( "#converterName" ).val("")
        }

      </script>
      <br />
      <button type="button" onclick="addConverter()">Create</button>
    </div>

    <input type="hidden" name="id" id="id" value='@frm("id").value'/>
    <input type="hidden" name="assertionId" id="assertionId" value='@frm("assertionId").value'/>

  } <!-- helper.form -->
  } <!-- defininf -->
} <!-- main -->
