@(frm: Form[_], localUser: models.User = null)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }


@if(frm.hasGlobalErrors) {
<p class="alert alert-danger">
  @frm.globalError.message
</p>
}
@inputText(
frm("taId"),
'_label -> "Test Assertion Id"
)

@inputText(
frm("shortDescription"),
'_label -> "Short Description"
)

@inputText(
frm("normativeSource"),
'_label -> "Normative Source"
)

@inputText(
frm("target"),
'_label -> "Target"
)

@textarea(frm("prerequisites"), 'rows -> 3, '_label -> "Prerequisites")

@textarea(frm("predicate"), 'rows -> 2, '_label -> "Predicate")
<hr />
@input(frm("prescriptionLevel"), '_label->"Prescription Level") { (id, name, value, htmlArgs) =>

<table class="buttonset" id="@id" style="width:350px;"><tr>
    @options("Mandatory"->"Mandatory","Preferred"->"Preferred", "Permitted" -> "Permitted").map { v =>
    <td style="width:33%;text-align:center;">
      <input type="radio" id="@(id)_@v._1" name="@name" value="@v._1" @if(value == Some(v._1)){checked="checked"} @toHtmlArgs(htmlArgs)/>
      <label for="@(id)_@v._1">@v._2</label>
    </td>
    }
  </tr></table>
}

<hr />

@textarea(frm("variables"), 'rows -> 2, '_label -> "Variables")

@inputText(
frm("tag"),
'_label -> "Tag"
)

@textarea(frm("description"), 'rows -> 2, '_label -> "Description")

<input type="hidden" name="id" id="id" value='@frm("id").value' />
<input type="hidden" name="groupId" id="groupId" value='@frm("groupId").value' />
