@(tc: TestCase, localUser: models.User = null, showJobs:Boolean = false)
@import java.util.concurrent.atomic.AtomicInteger

@import global.Util._

@main(Messages("playauthenticate.navigation.restricted.testdesigner"), "restrictedTestDesigner") {
    @dialogs()

    <h2>Test Case
        <div id="name@{tc.id}" onclick='showUpdateInputTextDialog(@tc.id, "name", $(this).next(), "/doEditCaseField")' class="hl editable"></div>
        <input type="hidden" value="@tc.name"/>
    </h2>

    <div class="indent">
        <h3>Short Description</h3>
        <div id="shortDescription@{tc.id}" onclick='showUpdateInputTextDialog(@tc.id, "shortDescription", $(this).next(), "/doEditCaseField")' class="editable"></div>
        <input type="hidden" value="@tc.shortDescription"/>
        @if(tc.parameters != null && tc.parameters.size() > 0) {
            <h3>Parametric Wrapper Names</h3>
            <ul>
            @for(pm <- tc.parameters) {
            <li>
                @pm.name
            </li>
            }
            </ul>
        }
        <hr />


        <table>
            <tr>
                <td class="@choose(showJobs, true)">
                    <h4><a href="/viewTestCase?id=@tc.id&showJobs=true">Jobs</a></h4>
                </td>
                <td class="@choose(showJobs, false)">
                    <h4><a href="/viewTestCase?id=@tc.id&showJobs=false">Mtdl Code</a></h4>
                </td>
            </tr>
        </table>

        <table class="section fullw" style="border-top:1px solid gray; margin-top:0;">
            <tr>
                <td>
                @if(showJobs == true) {
                    <!-- Display the list of Jobs assigned to this test case-->

                    <br />
                    @defining(Job.findByTestCase(tc)) { jobs =>
                        @if(jobs.size() == 0) {
                            <p>No jobs defined yet</p>
                            @createButton("/getCreateJobEditorView?testCaseId=" + tc.id, Messages("restrictedTestPage.createJob"))
                        } else {
                            @defining(new AtomicInteger(1)) { index =>
                                <table class="shaded">
                                    @createFirstRow {
                                        <th>Job Name</th>
                                        <th>Short Description</th>
                                        <th>Author</th>
                                    }
                                    @for(job <- Job.findByTestCase(tc)) {
                                        <tr>
                                            <td>@index.getAndIncrement()</td> <td><a href="/viewJob?id=@job.id&showHistory=true">@job.name</a></td> <td>SHORT Description</td>
                                            <td>@job.owner.email</td>
                                            <td align="center">
                                                <div title="Delete" class="bevel2 celldiv" style="height:30px;width:30px;"
                                                onclick='deleteWithDialog2("/doDeleteJob?id=@job.id", $("#dialog-confirm"), "Delete Job", "job", "@job.name")'
                                                >
                                                    <img src="@routes.Assets.at("/images/trash2-64.png")" height="16px" alt='@job.id'/>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    @createLastRow(3) {
                                        @createButton("/getCreateJobEditorView?testCaseId=" + tc.id, Messages("restrictedTestPage.createJob"))
                                    }
                                </table>
                            }
                        }
                    }
                } else {
                    <br />
                    <div><input type="button" onclick='window.location="/getEditCaseEditorView?id=@{tc.id}"' value="         Edit         "/> &nbsp;&nbsp;&nbsp;&nbsp;
                            Theme: <select id="select">
                            <option>default</option>
                            <option>3024-day</option>
                            <option>3024-night</option>
                            <option>ambiance</option>
                            <option>base16-dark</option>
                            <option>base16-light</option>
                            <option>blackboard</option>
                            <option>cobalt</option>
                            <option>eclipse</option>
                            <option>elegant</option>
                            <option>erlang-dark</option>
                            <option>lesser-dark</option>
                            <option>mbo</option>
                            <option>mdn-like</option>
                            <option>midnight</option>
                            <option>monokai</option>
                            <option>neat</option>
                            <option selected>neo</option>
                            <option>night</option>
                            <option>paraiso-dark</option>
                            <option>paraiso-light</option>
                            <option>pastel-on-dark</option>
                            <option>rubyblue</option>
                            <option>solarized dark</option>
                            <option>solarized light</option>
                            <option>the-matrix</option>
                            <option>tomorrow-night-eighties</option>
                            <option>twilight</option>
                            <option>vibrant-ink</option>
                            <option>xq-dark</option>
                            <option>xq-light</option>
                        </select>
                        </div>
                        <form>
                        <textarea id="code" name="code" class="CodeMirror fullw">@tc.tdl</textarea>
                        </form>
                            <script>
                            var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                                lineWrapping: true,
                                lineNumbers: true,
                                styleActiveLine: true,
                                readOnly: true,
                                viewportMargin: Infinity,
                                mode: {name: "text/x-scala", globalVars: true},
                                theme: "neo"
                            });

                            $( "#select" ).change(function() {
                            $( "#select option:selected" ).each(function() {
                            editor.setOption("theme", $( this ).text());
                            });
                            });
                            </script>
                }
                </td>
            </tr>
        </table>
    </div>
    <br />

    <script>
    $(function(){
    bindValues($("#name@{tc.id}"))
    bindValues($("#shortDescription@{tc.id}"))
    })
    </script>
}