@(ta: TestAssertion, localUser: models.User = null)
@import java.util.concurrent.atomic.AtomicInteger
@import global.Util._;
<div class="indent">
    <h3>Test Cases</h3>
    @if(ta.testCases.size() == 0){
        <p>No Test assertions yet</p>
        @createButton("/getCreateCaseEditorView?assertionId=" + ta.id, Messages("restrictedTestPage.createTestCase"))
    } else {
        <table class="shaded">
            @createFirstRow {
                <th>Test Case Name</th>
                <th>Short Description</th>
                <th>Author</th>
            }
            @defining(new AtomicInteger(1)) { index =>
                @for(tc <- ta.testCases) {
                    <tr>
                        <td>@index.getAndIncrement()</td>
                        <td><a href="/viewTestCase?id=@tc.id&showJobs=true">@tc.name</a></td>
                        <td>@tc.shortDescription</td>
                        <td>@tc.owner.email</td>
                        <td>
                            <div title="Delete" class="bevel2 celldiv" style="height:30px;width:30px;cursor:hand;"
                            onclick='deleteWithDialog2("/doDeleteCase?id=@tc.id", $("#dialog-confirm"), "Delete Test Case", "test case", "@tc.name")'>
                                <img src="@routes.Assets.at("/images/trash2-64.png")" height="16px" alt='@ta.id'/>
                            </div>
                        </td>
                    </tr>
                }
            }

            @createLastRow(3) {
                @createButton("/getCreateCaseEditorView?assertionId=" + ta.id, Messages("restrictedTestPage.createTestCase"))
            }
        </table>
    }
</div>
