@(ta: TestAssertion, localUser: models.User = null)
@import java.util.concurrent.atomic.AtomicInteger


@main(Messages("playauthenticate.navigation.restricted.testdesigner"), "restrictedTestDesigner") {

    <h2>Test Assertion <span class="hl">@{
        ta.taId
    }</span></h2>

    <div class="indent">
        <h3>Short Description</h3>
        <p>
        @ta.shortDescription
        </p>

        <h3>Author</h3>
        <p>
        @ta.owner.email
        </p>

        @if(ta.normativeSource != null && ta.normativeSource.length > 0) {
            <h3>Normative Source/Statement</h3>
            <p>
                @ta.normativeSource
            </p>
        }
        @if(ta.target != null && ta.target.length > 0) {
            <h3>Target</h3>
            <p>
            @ta.target
            </p>
        }

        @if(ta.prerequisites != null && ta.prerequisites.length > 0) {
            <h3>Prerequisites</h3>
            <p><xmp>@ta.prerequisites</xmp>
            </p>
        }
        <hr />
        <h3>Test Cases</h3>
        @if(ta.testCases.size() == 0){
            <p>No Test assertions yet</p>
            @createButton("/createTestCaseForm?groupId="+ta.id, Messages("restrictedTestPage.createTestCase"))
        } else {
            <table class="shaded">
                @createFirstRow {
                    <th>Test Case Name</th>
                    <th>Short Description</th>
                    <th>Author</th>
                }
                @defining(new AtomicInteger(1)) { index =>
                    @for(tc <- ta.testCases) {
                        <tr>
                            <td>@index.getAndIncrement()</td>
                            <td><a href="/viewTestCase?id=@tc.id&showJobs=true">@tc.name</a></td>
                            <td>@tc.shortDescription</td>
                            <td>@tc.owner.email</td>
                            <td>
                                <div title="Delete" class="bevel2 celldiv" style="height:30px;width:30px;cursor:hand;"
                                onclick='deleteWithDialog2("/doDeleteCase?id=@tc.id", $("#dialog-confirm"), "Delete Test Case", "test case", "@tc.name")'>
                                    <img src="@routes.Assets.at("/images/trash2-64.png")" height="16px" alt='@ta.id'/>
                                </div>
                            </td>
                        </tr>
                    }
                }
                @createLastRow(3) {
                    @createButton("/createTestCaseForm?groupId=" + ta.id, Messages("restrictedTestPage.createTestCase"))
                }
            </table>
        }
    </div>

}