@(tc: TestCase, selectedTdl: Tdl, localUser: models.User = null, display:String = "jobs")
@import java.util.concurrent.atomic.AtomicInteger

@import global.Util._

@main(Messages("playauthenticate.navigation.restricted.testdesigner"), "restrictedTestDesigner") {
    @dialogs()

    <h2>Test Case
        <div id="name@{tc.id}" onclick='showUpdateInputTextDialog(@tc.id, "name", $(this).next(), "/doEditCaseField")' class="hl editable"></div>
        <input type="hidden" value="@tc.name"/>
    </h2>

    <div class="indent">
        <h3>Owner</h3>
        @{tc.owner.email}
        <h3>Short Description</h3>
        <div id="shortDescription@{tc.id}" onclick='showUpdateInputTextDialog(@tc.id, "shortDescription", $(this).next(), "/doEditCaseField")' class="editable"></div>
        <input type="hidden" value="@tc.shortDescription"/>
            <h3>Version</h3>

            <select id="version" style="width:100px;">
            @for(tdl <- Tdl.findByTestCase(tc)) {
                <option value="@tdl.id"
                    @if(tdl.id==selectedTdl.id){selected="selected" }>@{tdl.version}</option>
            }
            </select>

        <script>
        $( "#version" ).change(function(data) {
          var vl=$("#version" ).val()
          document.location="viewTestCase2?id=@{tc.id}&tdlId="+vl+"&display=@{display}"
        });
        </script>

        @if(selectedTdl.parameters != null && selectedTdl.parameters.size() > 0) {
            <h3>Parametric Wrapper Names</h3>
            <ul>
            @for(pm <- selectedTdl.parameters) {
                <li>
                @pm.name
                </li>
            }
            </ul>
        }

        <hr />


        <table>
            <tr>
                <td class="@choose(display, "jobs")">
                    <h4><a href="/viewTestCase2?id=@{tc.id}&tdlId=@{selectedTdl.id}&display=jobs">Jobs</a></h4>
                </td>
                <td class="@choose(display, "mtdl")">
                    <h4><a href="/viewTestCase2?id=@tc.id&tdlId=@{selectedTdl.id}&display=mtdl">Mtdl Code</a></h4>
                </td>
            </tr>
        </table>

        <table class="section fullw" style="border-top:1px solid gray; margin-top:0;">
            <tr>
                <td>
                @display match {
                    case "jobs" => {
                    <!-- Display the list of Jobs assigned to this test case-->
                        <br />
                        @defining(Job.findByTdl(selectedTdl)) { jobs =>
                            @if(jobs.size() == 0) {
                                <p>No jobs defined yet</p>
                                @createButton("/getCreateJobEditorView?tdlID=" + selectedTdl.id, Messages("restrictedTestPage.createJob"))
                            } else {
                                @defining(new AtomicInteger(1)) { index =>
                                    <table class="shaded">
                                        @createFirstRow {
                                            <th>Job Name</th>
                                            <th>Short Description</th>
                                            <th>Author</th>
                                        }
                                        @for(job <- jobs) {
                                            <tr>
                                                <td>@index.getAndIncrement()</td> <td><a href="/viewJob?id=@job.id&showHistory=true">@job.name</a></td> <td>SHORT Description</td>
                                                <td>@job.owner.email</td>
                                                <td align="center">
                                                    <div title="Delete" class="bevel2 celldiv" style="height:30px;width:30px;"
                                                    onclick='deleteWithDialog2("/doDeleteJob?id=@job.id", $("#dialog-confirm"), "Delete Job", "job", "@job.name")'
                                                    >
                                                        <img src="@routes.Assets.at("/images/trash2-64.png")" height="16px" alt='@job.id'/>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        @createLastRow(3) {
                                            @createButton("/getCreateJobEditorView?tdlID=" + selectedTdl.id, Messages("restrictedTestPage.createJob"))
                                        }
                                    </table>
                                }
                            }
                        }
                    }
                    case "mtdl" => {
                        <br />
                        <div>

                            @if(Tdl.getLatestTdl(tc).id == selectedTdl.id) {
                                    <input type="button" onclick='window.location="/getEditCaseEditorView?id=@{selectedTdl.id}"' value="         Edit         "/> &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                            }



                                Theme: <select id="select">
                                <option>default</option>
                                <option>3024-day</option>
                                <option>3024-night</option>
                                <option>ambiance</option>
                                <option>base16-dark</option>
                                <option>base16-light</option>
                                <option>blackboard</option>
                                <option>cobalt</option>
                                <option>eclipse</option>
                                <option>elegant</option>
                                <option>erlang-dark</option>
                                <option>lesser-dark</option>
                                <option>mbo</option>
                                <option>mdn-like</option>
                                <option>midnight</option>
                                <option>monokai</option>
                                <option>neat</option>
                                <option selected>neo</option>
                                <option>night</option>
                                <option>paraiso-dark</option>
                                <option>paraiso-light</option>
                                <option>pastel-on-dark</option>
                                <option>rubyblue</option>
                                <option>solarized dark</option>
                                <option>solarized light</option>
                                <option>the-matrix</option>
                                <option>tomorrow-night-eighties</option>
                                <option>twilight</option>
                                <option>vibrant-ink</option>
                                <option>xq-dark</option>
                                <option>xq-light</option>
                            </select>
                            </div>
                            <form>
                            <textarea id="code" name="code" class="CodeMirror fullw">@selectedTdl.tdl</textarea>
                            </form>
                                <script>
                                var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                                    lineWrapping: true,
                                    lineNumbers: true,
                                    styleActiveLine: true,
                                    readOnly: true,
                                    viewportMargin: Infinity,
                                    mode: {name: "text/x-scala", globalVars: true},
                                    theme: "neo"
                                });

                                $( "#select" ).change(function() {
                                $( "#select option:selected" ).each(function() {
                                editor.setOption("theme", $( this ).text());
                                });
                                });
                                </script>
                    }
                    case "versions" => {

                    }
                }
                </td>
            </tr>
        </table>
    </div>
    <br />

    <script>
    $(function(){
    bindValues($("#name@{tc.id}"))
    bindValues($("#shortDescription@{tc.id}"))
    })
    </script>
}