@(localUser: models.User = null)

<div id="dialog-confirm" title="Delete Group?"  style="display:none">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
  The <span class="itemtype"></span> <b><span class="itemname"></span></b> will be deleted. Are you sure?</p>
</div>

<div id="mainDialog" title="main dialog" style="display:none" class="absofull">
  <form method="post" id="mainForm" style="height:100%;">
  </form>
</div>


<div id="mainDialog2" title="main dialog" style="display:none" class="absofull">
  <form method="post" id="mainForm2" style="height:100%;">
  </form>
</div>


<div id="mainDialog3" title="main dialog" style="display:none" class="absofull">
  <form method="post" id="mainForm3" style="height:100%;">
  </form>
</div>


<div id="errorDialog" title="Error" style="display:none">
</div>

<div id="contentPane" style="height:100%;margin:0;padding:0;" class="fullw">
    <div id="testGroupLister" class="fullw" style="height:100%;padding:0px;">
      @testGroupLister2(localUser)
    </div>
</div>
