@(localUser: User, frm: Form[_], groupId: Long)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@if(frm.hasGlobalErrors) {
<p class="alert alert-danger">
  @frm.globalError.message
</p>
}
@inputText(
frm("taId"),
'_label -> "Test Assertion Id"
)

@inputText(
frm("normativeSource"),
'_label -> "Normative Source"
)

@inputText(
frm("target"),
'_label -> "Target"
)

@textarea(frm("prerequisites"), 'rows -> 5, '_label -> "Prerequisites")

@textarea(frm("predicate"), 'rows -> 5, '_label -> "Predicate")

@textarea(frm("variables"), 'rows -> 5, '_label -> "Variables")

<input type="hidden" name="id" id="id" value='@frm("id").value' />
<input type="hidden" name="groupId" id="groupId" value='@frm("groupId").value' />
