@(localUser: models.User = null)
@import java.lang.Object; val categories = Array[String]("a","b","c","d", "e", "f", "g", "h")


<style>
    #accordion {
    height: 100%;
    }

    .myscroll{
    overflow:scroll;
    width:100%;

    background: rgb(200,230,255);
    }

</style>

<script>
  $(function() {
       $( "#accordion" ).accordion({
          collapsible: true,
          heightStyle: "content"
       });
  });

</script>

<div id="contentPane" style="height:94%;margin:0;padding:0">
    <table style="width:100%;height:100%;border:solid 1px gray;">
        <tr style="height:100%;">
            <td style="width:30%;height:100%;overflow:auto;">
                <div id="accordion" style="overflow:scroll">
                @for(cat <- categories){
                <h3><b>@cat</b></h3>
                    <div style="height:70%">
                 <div class="myscroll">

                 </div>
                    </div>
                }
                </div>
            </td>
            <td  style="width:70%">
            </td>
        </tr>
    </table>

</div>
