@(localUser: models.User = null)

<div id="dialog-confirm" title="Delete Group?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
  The test group <span class="groupname"></span> is going to be deleted. Are you sure?</p>
</div>

<div id="mainDialog" title="main dialog">
  <form method="post">
  </form>
</div>

<div id="contentPane" style="height:94%;margin:0;padding:0;" class="fullw">
    <div id="testGroupLister" class="fullw" style="height:95%;padding:0px;">
      @testGroupLister(localUser)
    </div>
</div>
