@(group: models.TestGroup, localUser: models.User = null)

<script>
$(function() {
  minderAccordion("#taAccordion@group.id");
});
</script>

 <script>
  $(function() {
    $( document ).tooltip();
  });
  </script>
  

<div id="taAccordion@group.id">
  @for(assertion <- TestAssertion.findByGroup(group)){
  <div class="title ui-accordion fullw hand" style="height:35px;">
    <table cellpadding="2" class="fullw ui-state-default ui-corner-all" height="35px" style="height:35px;">
      <tr>
        <td style="width:3%;" align="center" valign="middle">
          <div class="deleteCase">
            <img src="@routes.Assets.at("/images/document-64.png")" height="20px"/>
          </div>
        </td>
        <td class="trigger" style="width:30%">
          TA: @assertion.taId
        </td>
        <td class="trigger" style="width:5px;">&nbsp;</td>
        <td class="trigger" style="width:40%">
          @assertion.shortDescription
        </td>
        <td class="trigger">&nbsp;</td>
        <td style="width:3%;" class="center">
          <div id="editAssertion@assertion.id" title= "Edit" class="celldiv bevel2" style="height:26px;width:26px;">
              <img src="@routes.Assets.at("/images/edit_property-64.png")" height="16px" alt='@group.id'/>
          </div>
          <script>
              createFormDialog($("#editAssertion@assertion.id"),
              "/editAssertionForm?id=@assertion.id" ,
              "/doEditAssertion", "mainDialog", "Edit Test Assertion", $("#taAccordion@group.id").parent())
          </script>
        </td>
        <td style="width:3px;">&nbsp;</td>
        <td style="width:3%;" align="center" valign="middle">
          <div id="deleteAssertion@assertion.id" title= "Delete" class="celldiv bevel2" style="height:26px;width:26px;">
              <img src="@routes.Assets.at("/images/trash2-64.png")" height="16px" alt='@group.id'/>
          </div>
          <script>
            var elm = $("#deleteAssertion@assertion.id");
            deleteWithDialog(elm, "/doDeleteAssertion?id=@assertion.id", $("#dialog-confirm"),
            "Delete Test Assertion", "test assertion", "@assertion.taId", $("#taAccordion@group.id").parent())
          </script>
        </td>
        <td style="width:15px">&nbsp;</td>
      </tr>
    </table>
  </div>
  <div class="content scroll fullw fullh">
    @testCaseLister(assertion)
  </div>
  }

  <div class="title styledtitleinverse fullw hand create bevel2" style="margin:0;" align="center">
    <table><tr><td>
    <table width="100%">
      <tr>
        <td id="createTa1@group.id"
            style="height:23px;vertical-align:top; text-align:right;">
          <img src="@routes.Assets.at("/images/plus-64.png")" height="16px" />
        </td>
        <td id="createTa2@group.id" style="height:23px;">
          @Messages("restrictedTestPage.createTestAssertion")
        </td>
      </tr>
    </table></td></tr></table>
  </div>

  <script>
      createFormDialog($("#createTa1@group.id, #createTa2@group.id"),
        "/createAssertionForm?groupId=@group.id" ,
        "/doCreateAssertion", "mainDialog", "Create Test Assertion", $("#taAccordion@group.id").parent())


  </script>
</div>
