@(frm: Form[_], editMode : Boolean = true)

@import helper._


@implicitFieldConstructor = @{
  FieldConstructor(myInput.f)
}


@main(Messages("minder.navigation.restricted.testdesigner"), "restrictedTestDesigner") {

  @dialogs()

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/3024-day.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/3024-night.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/ambiance.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/base16-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/base16-light.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/blackboard.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/cobalt.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/eclipse.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/elegant.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/erlang-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/lesser-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/mbo.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/mdn-like.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/midnight.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/monokai.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/neat.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/neo.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/night.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/paraiso-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/paraiso-light.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/pastel-on-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/rubyblue.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/solarized.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/the-matrix.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/tomorrow-night-eighties.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/twilight.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/vibrant-ink.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/xq-dark.css")" rel="stylesheet">
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/theme/xq-light.css")" rel="stylesheet">

<style>
  #accordion1 {
  height: 100%;
  overflow:scroll;
  }

  .myscroll{
  overflow:scroll;
  width:100%;

  background: rgb(200,230,255);
  }


</style>

<script>

$(function() {
	var textArea = document.getElementById("tdl");
  var editor = CodeMirror.fromTextArea(textArea, {
      lineNumbers: true,
      lineWrapping: true,
      styleActiveLine: true,
      viewportMargin: Infinity,
      extraKeys: {"Ctrl-Space": "autocomplete"},
      mode: {name: "text/x-scala", globalVars: true},
      theme: "ambiance"
  });

    // store it
    $("#tdl").data('CodeMirrorInstance', editor);

    editor.on("change", function(cm, change) {
      textArea.value = editor.getDoc().getValue();
    });

    $( "#select" ).change(function() {
        $( "#select option:selected" ).each(function() {
           editor.setOption("theme", $( this ).text());
        });
    });
  });
</script>

  <h2>New Util Class</h2>
  <br />
  @defining(if(editMode == false) {routes.UtilClassController.doCreateUtilClass()} else {routes.UtilClassController.doEditUtilClass()}){ act =>
  @helper.form(action = act , 'class -> "fullh") {
    <div id="contentPane" style="width:100%;height:94%;margin:0;padding:20px;">
  <table style="width:100%;height:100%;">
    <tr>
      <td style="vertical-align: text-top;">
        <div class="bevel2" style="padding: 10px;">
        @if(editMode){
          <div class="fcborder">@frm("name").value</div>
          <input type="hidden" name="name" id="name" value='@frm("name").value'/>
        } else {
          @inputText(
            frm("name"),
            '_label -> "Name")
        }

        @if(editMode){
          <div class="fcborder">@frm("shortDescription").value</div>
          <input type="hidden" name="shortDescription" id="shortDescription" value='@frm("shortDescription").value'/>
        } else {
          @inputText(
            frm("shortDescription"),
            '_label -> "Short Description"
          )
        }
          </div>
      </td>
      <tr />
    <tr>
      <td class="maxwh" style="vertical-align:text-top;">
        <div class="bevel2 fullw fullh">
          <div style="padding: 10px;">
            <button type="submit">Save</button>&nbsp;
            <button type="reset">Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" onclick="history.back ( )">Cancel</button></div>

          <div class="fcborder fullh"> <label>Code</label><br/>
            @if(frm.hasGlobalErrors) {
              <p id="error" class="alert alert-danger" style='font-family:"Monaco", "Courier New", "monospace"'></p>
              <xmp id="source" style="display: none">@frm.globalError.message</xmp>

              <script>
                $(function(){
                  var newd  = $("#source" ).text()
                  newd = newd.split(/\n/g).join("<br/>");
                  newd = newd.replace(/ /g, '&nbsp;')
                  $("#error")[0 ].innerHTML = newd;
                });
              </script>
            }<br />


            Theme: <select id="select">
            <option>default</option>
            <option>3024-day</option>
            <option>3024-night</option>
            <option selected>ambiance</option>
            <option>base16-dark</option>
            <option>base16-light</option>
            <option>blackboard</option>
            <option>cobalt</option>
            <option>eclipse</option>
            <option>elegant</option>
            <option>erlang-dark</option>
            <option>lesser-dark</option>
            <option>mbo</option>
            <option>mdn-like</option>
            <option>midnight</option>
            <option>monokai</option>
            <option>neat</option>
            <option>neo</option>
            <option>night</option>
            <option>paraiso-dark</option>
            <option>paraiso-light</option>
            <option>pastel-on-dark</option>
            <option>rubyblue</option>
            <option>solarized dark</option>
            <option>solarized light</option>
            <option>the-matrix</option>
            <option>tomorrow-night-eighties</option>
            <option>twilight</option>
            <option>vibrant-ink</option>
            <option>xq-dark</option>
            <option>xq-light</option>
          </select>
          <br />
          <!-- xtarea(frm("source"), 'class -> "CodeMirror ") -->
            <textarea id="tdl" name="tdl" class = "CodeMirror">@frm("tdl").value </textarea>
              @defining(if(frm("tdl").value == null){""}else{frm("tdl").value}){ str =>
                @defining(str.toString.split("\\\n").length) { len =>
                    <script>
                      $(function(){
                        var editor = $("#tdl").data('CodeMirrorInstance');

                        var nls = "";
                        for(i = @len; i < 20; i++){
                          nls += "\n"
                        }

                        editor.replaceRange(nls, CodeMirror.Pos(editor.lastLine()))
                    });
                    </script>
                  }
              }

          </div>
        </div>
      </td>
    </tr>
  </table>

</div>

    <input type="hidden" name="id" id="id" value='@frm("id").value'/>
    <input type="hidden" name="groupId" id="groupId" value='@frm("groupId").value'/>

  } <!-- helper.form -->
  } <!-- defininf -->
} <!-- main -->
